@use 'mixins' as *;

@import url("./custom_css_reset.css");
@import url("./fonts.css");


/* ===== VARIABLES ===== */

$primary: #faae41;
$secondary: #545559;


/* ===== GLOBAL STYLES ===== */

body {
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;

	font-family: "Gotham Pro", sans-serif;
	font-size: 16px;
	font-weight: normal;
    font-style: normal;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }

.image {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 0 0;
}

.hidden {
	display: none!important;
}


/* * * BUTTON STYLES * * */

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 242px;
	height: 55px;
	border: none;
	border-radius: 2px;
	background-color: $primary;
	cursor: pointer;
	
	&__icon {
		display: inline-block;
		width: 15px;
		height: 15px;
	}

	&__title {
		display: inline-block;
		font-family: "Corbel";
		font-size: 17px;
		font-weight: bold;
		color: white;
	}
}


/* * * HINT STYLES * * */

%hint {
	&::after {
		content: "";

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		

		display: flex;
		justify-content: center;
		align-items: center;

		min-width: 129px;
		height: 36px;

		font-size: 14px;
		color:rgba( 0, 0, 0, 0.6 );

		background-color: white;
		border-radius: 2px;
		
		@include b-shadow ( 120, 0, 0, 18, rgba(0, 0, 0, 0.1 ));
	}
}

.hint--left {
	@extend %hint;
	&::after {
		clip-path: polygon(5.5% 0, 100% 0, 100% 100%, 5.5% 100%, 5.5% 70%, 0 50%, 5.5% 30%, 5.5% 0 );
		padding-left: 7px;
	}
}

.hint--right {
	@extend %hint;
	&::after {
		clip-path: polygon( 0 0, 94.5% 0, 94.5% 70%, 100% 50%, 94.5% 30%, 94.5% 100%, 0 100% );
		padding-right: 7px;
	}
}


/* * * ICONS * * */

.icon-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	background-color: #222421;
	opacity: 50%;
	cursor: pointer;
}

.svg-search {
	width: 19px;
	height: 19px;
	fill: white;
}

/* * * HEADLINE STYLE* * */

.headline {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&__title {
		font-size: 32px;
		font-weight: 500; 
	}
	
	&__consultation {
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );
		text-decoration: underline;
		text-underline-offset: 2px;
		text-decoration-color: rgba( 0, 0, 0, 0.2 );
	}
}

/* * * SELECT STYLE * * */

.select-wrapper {
	display: block;
	position: relative;
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		right: 16px;
		top: 43%;
		width: 0;
		height: 0;
		transform: translateY(50%);
		border-style: solid;
		border-width: 4px 4px 0 4px;
		border-color: #000000 transparent transparent transparent;
		opacity: 0.4;
		pointer-events: none; /* Элемент не может быть целью событий указателя; */
	}
}


.select-dropdown {
	/* обнуление стилей */
	appearance: none; /* убираем браузерную стрелку */
	border: none;
	background-color: transparent;
	// outline: none; /* обводка при фокусировке. Чтобы изменить цвет: outline-color: green;*/
	&::-ms-expand { 
		display: none;/* убираем стрелку в IE */
	}
	
	display: block;
	cursor: pointer;
}

/* * * CHECK-BEFORE STYLE * * */

.check-before {
	&::before {
		content: "";
		background: url(../icons/check.png) 0 0/cover no-repeat;
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 3px;
		width: 13px;
		height: 11px;
	}
}


/* * * NUMBER-BEFORE STYLE * * */

%number-before {
	position: relative;
	
	&::before {
		content: "";
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 19px;
		height: 19px;
		color: white;
		font-size: 10px;
		font-weight: 700;
		border-radius: 50%;
		background-color: $primary;
	}
}

.number-before {
	&--1 {
		@extend %number-before;
		&::before {
			content: "1";
		}
	}

	&--2 {
		@extend %number-before;
		&::before {
			content: "2";
		}
	}

	&--3 {
		@extend %number-before;
		&::before {
			content: "3";
		}
	}

	&--4 {
		@extend %number-before;
		&::before {
			content: "4";
		}
	}

	&--5 {
		@extend %number-before;
		&::before {
			content: "5";
		}
	}

	&--6 {
		@extend %number-before;
		&::before {
			content: "6";
		}
	}

	&--7 {
		@extend %number-before;
		&::before {
			content: "7";
		}
	}

	&--8 {
		@extend %number-before;
		&::before {
			content: "8";
		}
	}
}

/* ================================= */
/* =========== 1. HEADER =========== */
/* ================================= */

.header {
	background-color: $secondary;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px 0 20px;
	}
}

.svg-logo {
	width: 147px;
	height: 49px;
	fill:#fefefe
}

.nav {
	flex: 0 1 698px;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		font-size: 11px;
		color: white;
	}
}

.header__call {
	color: white;

	&-number {
		display: inline-block;
		font-size: 22px;
		font-weight: bold;
		line-height: 1.4;
	}

	&-order {
		display: block;
		text-align: end;
		font-size: 12px;
		font-weight: 300;
		text-decoration: underline;
		text-decoration-color: rgba(255, 255, 255, 0.2);
		text-decoration-thickness: 1px;
		text-underline-offset: 2px;
	}
}

.svg-call {
	width: 13px;
	height: 13px;
	fill:#fefefe
}

/* ================================= */
/* ======== 2. HERO-SECTION ======== */
/* ================================= */

.hero {

	&__background {
		position: relative;

		.container {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}

	&__background-image {
		position: relative;
		padding-bottom: 43.475%;

		.image {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
    		object-position: center
		}
	}


	&__mark--1st,
	&__mark--2nd,
	&__mark--3rd {
		position: absolute;
	}
	
	&__mark--1st {
		top: 17%;
		right: 32.4%;
	}	
	
	&__mark--2nd {
		top: 45%;
		right: 35.8%;
	}
	
	&__mark--3rd {
		top: 60.6%;
		right: 15.2%;
	}

	&__mark--active {

		div[class*='hint'] {
			&::after {
				content: "Цвет: Графит";
				left: 82%;
			}
		}
	}

	&__title {
		font-size: 38px;
		line-height: 1.2;
	}
	
	&__subtitle {
		font-size: 16px;
		opacity: 0.7;
		@include l-height ( 26, 16 );
	}
	
	&__devider {
		margin-top: 76px;
		border: none;
		border-top: 1px solid rgba( 0, 0, 0, 0.1 );
	}
}

.svg-mark,
.svg-mark-active-down,
.svg-mark-active-up {
	width: 78px;
	height: 78px;	
}

.hero__btn-arrow-left {
	position: absolute;
	z-index: 1;
	top: 19%;
	left: 0;
}

.btn--hero-arrow-left {
	width: 41px;
	height: 41px;
	border-radius: 0px;
}

.svg-arrow-left {
	width: 6px;
	height: 12px;
	fill: white;
}

.hero__offer {
	margin-top: calc(15vw - 129px);
	padding: 33px 36px 38px 42px;

	width: 579px;
	height: 337px;
	border-radius: 2px;
	background-color: #fff;

	&-inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&-body {
		flex: 1 0 auto;
		padding-top: 22px;
	}
	&-footer {
		display: flex;
		justify-content: space-between;
	}
}

.btn--hero-offer {
	background-color: $secondary;
}

.btn--hero-choice {
	align-self: end;
	width: 257px;
	height: 46px;
	
	.btn__title {
		font-size: 15px;
		font-family: "Gotham Pro";
		font-weight: 500;
	}
}

.svg-zamer,
.svg-consult {
	width: 15px;
	height: 15px;
	fill: white;
}

.hero__choice {
	position: relative;
	margin-top: -8.7%;

	display: flex;
	flex-direction: column;
	padding: 26px 36px 34px 34px;
	width: 100%;
	height: 192px;
	background-color: #fff;
	border-radius: 2px;
	@include b-shadow ( 120, 5, 0, 20, rgba(0, 0, 0, 0.1 ));

	&-header {
		display: flex;
		justify-content: space-between;
	}

	&-title {
		font-size: 28px;
		font-weight: 500;
	}

	&-price {
		flex: 0 0 255px;
		
	}

	&-price-value {
		color: rgba(0, 0, 0, 0.5 );

		.hl {
			display: inline-block;
    		margin-left: 11px;
			font-size: 26px;
			font-weight: bold;
			color: $primary;
		}
	}
	
	&-price-desc {
		margin-top: 9px;
		text-align: center;
		font-size: 11px;
		font-weight: 300;
		font-style: italic;
		@include l-height ( 15, 11 );
		color: #7f7f7f;
	}

	&-managers {
		color: $primary;
		opacity: 50%;
		text-decoration: underline;
		text-underline-offset: 1px;
	}

	&-footer {
		margin-top: -9px;
	}
}

.hero-form {
	display: flex;
	justify-content: space-between;

	&__select-wrapper {
		margin-top: 8px;
	}

	/* +++ SELECT STYLE */

	&__select-label {
		/* display: inline-block; */
		font-size: 12px;
		
	}

	&__select-dropdown {
		padding: 0px 31px 0 17px;
		width: 256px;
		height: 46px;
		border: 2px solid $primary;
		border-radius: 5px;
		background-color: white;
		font-size: 14px;
		font-weight: normal;
		color:rgba(0, 0, 0, 0.5 );
	}
}

.hero__advantages {
	display: flex;
	justify-content: space-between;
	margin-top: 72px;
	width: 100%;

	&-item {
		position: relative;
		display: flex;
		gap: 17px;
		flex: 0 0 237px;

		&:not(:last-child)::after {
			content: '';
			position: absolute;
			display: inline-block;
			top: 0;
			left: 274px;
			width: 1px;
			height: 59px;
			background-color: rgba( 0, 0, 0, 0.1 );	
		}
	}

	&-icon {
		flex: 0 0 55px;
		width: 55px;
		height: 55px;
	}

	&-desc {
		font-family: 'Open Sans';
		font-size: 13.61px;
		@include l-height ( 19.44, 14 );
		color:rgba(0, 0, 0, 0.5 );
	}
}

.hero__advantages-item--1st {
	.hero__advantages-desc {
		padding-right: 10px;
	}
}

.hero__advantages-item--2nd {
	&:not(:last-child)::after {
		left: 279px;	
	}

	.hero__advantages-icon {
		flex: 0 0 53px;
		width: 53px;
		height: 53px;
	}
}

.hero__advantages-item--3rd {
	gap:7px;
} 

.hero__advantages-item--4th {
	gap:10px;

	.hero__advantages-icon {
		flex: 0 0 57px;
		width: 57px;
		height: 57px;
	}
}

.svg-hero--advantages-1,
.svg-hero--advantages-3 {
	width: 55px;
	height: 55px;
	fill: $primary;
}

.svg-hero--advantages-2 {
	width: 53px;
	height: 53px;
	fill: $primary;
}

.svg-hero--advantages-4 {
	width: 57px;
	height: 57px;
	fill: $primary;
}


/* ================================= */
/* ====== 3. PRODUCT SECTION ======= */
/* ================================= */

.product {
	padding: 54px 0 88px 0;
	position: relative;

	&__title {
		text-align: center;
		font-size: 28px;
		font-weight: 500;
	}

	&__grid {
		margin-top: 59px;
	}
}

.product__btn-calc {
	position: absolute;
	z-index: 1;
	top: 144px;
	right: 0;
}

button[class*='btn--product-calc'][class*='hint'] {
	&::after {
		display: none;
	}
}

button[class*='btn--product-calc'][class*='hint']:hover {
	&::after {
		min-width: 155px;  /* !!!!!!!!!!!!!!!!!Почему без этого текст переносится? */
		display: flex;
		content: "Выполните расчёт";
		right: 118%;
		color: rgba( 0, 0, 0, 0.6 );
		background-color: #fcfbfc;
	}
}

.product__btn-ring {
	position: absolute;
	z-index: 1;
	top: 209px;
	right: 0;
}

button[class*='btn--product-ring'][class*='hint'] {
	&::after {
		display: none;
	}
}

button[class*='btn--product-ring'][class*='hint']:hover {
	&::after {
		display: flex;
		content: "Позвоните нам";
		right: 118%;
		color: rgba( 0, 0, 0, 0.6 );
		background-color: #fcfbfc;
	}
}

.btn--product-ring,
.btn--product-calc {
	position: relative;
	width: 66px;
	height: 59px;
}

.btn--product {
	flex: 0 0 54px;
	width: 322px;
	
	&__title {
		font-size: 18px;
	}
}

.svg-calc {
	width: 25px;
	height: 29px;
	fill: white;
}

.svg-ring {
	width: 28px;
	height: 28px;
	fill: white;
}

.grid-product {
	display: grid;
	gap: 41px;
	grid-template-columns: repeat(auto-fit, 372px);
	grid-auto-rows: 500px;
	justify-content: center;
}

/* ----- item-front ----- */

.grid-product__item-front {
	position: relative;
	height: 100%;
}

.grid-product__image-wrapper-front {
	position: absolute;
	top: 0;
	left: 0;
}

.grid-product__image-front {
	height: 228px; 
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* +++ icon-front +++ */
.grid-product__icon-front {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-product__content-front {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 245px 18px 27px 29px;
	border: 1px solid #d6d6d6;
	
}
.grid-product__title-front {
	font-size: 18px;
	font-weight: bold;
	color: rgba( 0, 0, 0, 0.8 );
}

.grid-product__desc-front {
	flex: 1 1 auto;
	margin: 17px 0;
	font-family: "Open Sans";
	font-size: 14px;
	@include l-height ( 20, 14 );
	color:rgba( 0, 0, 0, 0.5 );

}

.grid-product__order-front {
	margin-bottom: 11px;
	font-size: 14px;
	font-weight: bold;
	color:rgba( 0, 0, 0, 0.5 );

}

.grid-product__price-front {
	margin-bottom: 22px;
	font-size: 14px;
	color:rgba( 0, 0, 0, 0.5 );
	
	.text {
		display: inline-block;
    	margin-right: 8px;
	}

	.text-hl {
		display: inline-block;
		font-size: 22px;
		font-weight: bold;
		color: $primary;
	}
}

/* ----- item-back ----- */

.grid-product__item-back {
	padding: 31px 24px 28px 26px;
	position: relative;
	
	display: flex;
	flex-direction: column;
	height: 100%;
	
	background-color: rgba( 0, 0, 0, 0.7 );
	color: white;

	.image {
		object-fit: cover;
		object-position: -156px 0px;
	}
}

.grid-product__image-back {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.grid-product__title-back {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
}

.grid-product__desc-back {
	margin: 17px 0;
	flex: 1 1 auto;
	font-size: 14px;
	opacity: 0.9;
	@include l-height ( 24, 14 );
}

.grid-product__options-list-back {
	margin-bottom: 30px;
	opacity: 0.9;
	font-size: 14px;
	@include l-height ( 24, 14 );
}

.grid-product__options-item-back {
	position: relative;
	padding-left: 13px;

	&::before {
		content: '-';
		position: absolute;
		left: 2px;
	}
}

.grid-product__order-back {
	margin-bottom: 11px;
	opacity: 0.7;
	font-size: 14px;
}

.grid-product__price-back {
	margin-bottom: 23px;
	color: rgba( 255, 255, 255, 0.5 );
	font-size: 14px;

	.text {
		display: inline-block;
    	margin-right: 8px;
	}

	.text-hl {
		display: inline-block;
		color: white;
		font-size: 22px;
		font-weight: 700;
	}
}


/* ================================= */
/* ====== 4. REQUEST SECTION ======= */
/* ================================= */

.request {
	padding: 57px 0 67px 0;
	background: url(../img/bg_block_form.png) 0 0/cover no-repeat;

	&__inner {
		display: flex;
		height: 100%;
	}

	&__content {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
	}

	&__text {
		flex: 1 1 auto;
	}

	&__title {
		font-size: 32px;
		font-weight: 500;
	}

	&__desc {
		margin-top: 17px;
		padding-right: 150px;
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );
		@include l-height ( 24, 14 );
	}

	&__list {
		margin-bottom: -5px;
	}

	&__list-item {
		position: relative;
		padding-left: 18px;
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.7 );
		@include l-height ( 26, 14 );
		.hl {
			font-weight: 700;
		}
		::before {
			content: "";
			background: url(../icons/check.png) 0 0/cover no-repeat;
			display: inline-block;
			position: absolute;
			top: 10px;
			left: 0;
			width: 8px;
			height: 6px;
		}
	}

	&__form {
		flex: 0 1 50%;
	}
}

.form-request {

	.form-request__input {
		padding: 0 19px;
		background-color: white;
		border: none;
		border-radius: 2px;

		&:focus {
			outline: none;
  			box-shadow: 0 0 0 2px #fdb44b;
		}

		&::placeholder {
			font-size: 14px;
			color: rgba( 0, 0, 0, 0.5 );
		}
	}

	.form-request__pesonal-data {
		padding: 5px 0 0 6px;
		font-size: 11px;
		font-style: italic;
		color: #7f7f7f;
		@include l-height ( 15, 11 );

		.hl {
			color: $primary;
			text-decoration: underline;
			text-underline-offset: 1px;
		}
	}
}

.btn--request {
	width: 276px;
	height: 53px;
}

.grid-request {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat( 2, 276px );
	grid-template-rows: 49px 49px 53px;
	grid-template-areas: 
		"item-1 item-2"
		"item-3 item-3"
		"item-4 item-5";
}

.request__1st { grid-area: item-1; }

.request__2nd { grid-area: item-2; }

.request__3rd { grid-area: item-3; }

.request__4th { grid-area: item-4; }

.request__5th { grid-area: item-5; }


/* ================================= */
/* ===== 5. PORTFOLIO SECTION ====== */
/* ================================= */

.portfolio {
	padding: 57px 0 44px 0;

	&__title {
		text-align: center;
		font-size: 32px;
		font-weight: 500;
		color: rgba( 0, 0, 0, 0.9 );
	}

	&__grid {
		margin-top: 49px;
	}
}

.grid-portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
	grid-auto-rows: 338px;
	justify-content: center;
}

.grid-portfolio__item-front.portfolio__2nd {
	display: none;
}

.grid-portfolio__item-front {
	position: relative;

	.image {
		object-fit: cover;
		object-position: center;
	}
}

.grid-portfolio__image-front {
	height: 100%;
	overflow: hidden;
	
	.image {
		width: 101%; /* для удаления белых кромок на фото */
		height: 101%;
	}
}

.grid-portfolio__icon-front {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.grid-portfolio__item-back {
	padding: 40px 34px 36px 49px;

	position: relative;
	background-color: rgba( 0, 0, 0, 0.7 );
	color: white;

	.image {
		object-fit: cover;
	}
}

.grid-portfolio__image-back {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.grid-portfolio__inner-back {
	display: flex;
	height: 100%;
}
.grid-portfolio__content-back {
	flex: 0 1 84%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.grid-portfolio__icon-back {
	flex: 0 1 16%;
	align-self: flex-end;
}

.grid-portfolio__title-back {
	margin-bottom: 19px;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;	
}

.grid-portfolio__desc-back {
	flex: 1 1 auto;
	font-size: 14px;
	opacity: 0.9;
	@include l-height ( 24, 14 );
}

.grid-portfolio__order-back {
	margin-top: 19px;
	opacity: 0.7;
	font-size: 14px;
}

.grid-portfolio__price-back {
	margin-top: 14px;
	color: rgba( 255, 255, 255, 0.5 );
	font-size: 14px;

	.hl {
		display: inline-block;
    	margin-left: 12px;
		color: white;
		font-size: 22px;
		font-weight: 700;
	}
}

.btn--portfolio-arrow {
	margin-left: auto;
	width: 35px;
	height: 35px;
	border-radius: 0px;
}

.svg-arrow-right {
	width: 6px;
	height: 10px;
	fill: white;
}

.btn--portfolio-more {
	margin: 39px auto 0 auto;
	padding: 0 0 6px 15px;
	
	width: 247px;
	height: 53px;
	gap: 6px;
	background-color: $secondary;

	.btn__title {
		font-size: 18px;
	}
}

.svg-arrow-down {
	width: 8px;
	height: 4px;
	fill: white;
}


/* ================================ */
/* ===== 6. GLASSTYPE SECTION ===== */
/* ================================ */

.glasstype {
	padding: 85px 0 100px 0;

	background: url(../img/bg_block_6.png) 0 0/cover no-repeat;

	/* +++ GLOBAL STYLES - HEADLINE */

	&__grid {
		margin-top: 54px;
	}
}


.grid-glasstype {
	display: grid;
	gap: 69px;
	grid-template-columns: repeat(2, minmax(400px, 564px));
	grid-auto-rows: 449px;
	justify-content: center;
}

.grid-glasstype {

	&__item {

		display: flex;
		flex-direction: column;

		background-color: white;
		border-radius: 2px;
		box-shadow: 2.5px 4.3px 21px rgba(0, 0, 0, 0.1);
	}

	&__header {
		position: relative;
		flex: 0 0 209px;
		height: 209px;

		.image {
			object-fit: cover;
		}
	}

	&__buttons-block {
		position: absolute;
		bottom: 5%;
    	right: 2%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 69px;
	}
	
	&__body {
		padding: 32px 44px 23px 43px;
		display: flex;
	}

	&__thumbnail {
		flex: 0 0 23%;
	}
	
	&__thumbnail-inner {
		margin-top: 5px;
		width: 72px;
		height: 164px;
	}

	&__content {
		flex: 0 0 77%;
	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		color: rgba( 0, 0, 0, 0.9 );
	}

	&__desc {
		margin-top: 12px;

		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		color: rgba( 0, 0, 0, 0.5 );
		@include l-height ( 26, 14 );
	}
}

.btn--glasstype {
	width: 31px;
	height: 31px;
	border-radius: 0px;
}
.svg-arrow-left--glasstype {
	width: 5px;
	height: 8px;
	fill: white;
}
.svg-arrow-right--glasstype {
	width: 5px;
	height: 8px;
	fill: white;
}

/* ============================= */
/* ===== 7. DESIGN SECTION ===== */
/* ============================= */


.design {
	padding: 72px 0 100px;

	/* +++ GLOBAL STYLES - HEADLINE */

	&__inner {
		margin-top: 40px;
		height: 520px;

		display: flex;
		gap: 49px
	}
}

.design__image {
	position: relative;
	flex: 0 0 576px;

	&-buttons-block {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);

		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
}

.design__content {
	padding: 32px 37px 33px 37px;
	flex: 0 0 576px;
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #c5c5c5;
	border-radius: 2px;
	
	&-title {
		font-size: 24px;
		font-weight: 700;
		color: rgba( 0, 0, 0, 0.9 );
	}

	&-desc {
		padding-top: 13px;
		text-align: justify;
		flex: 1 1 auto;

		font-size: 14px;
		letter-spacing: -0.6px;
		color: rgba( 0, 0, 0, 0.5 );
		@include l-height ( 24, 14 );
	}

	&-glass-list {
		padding-bottom: 47px;
		
	}

	&-consultation {
		padding-bottom: 17px;

		font-size: 18px;
		font-weight: 500;

	}

	&-action-list {
		padding-bottom: 19px;
		display: flex;
		justify-content: space-between;
	}

	&-action-item {
		padding-left: 23px;
		position: relative;

		font-size: 12px;
		color: rgba( 0, 0, 0, 0.8 );

		&::before {
			content: "";
			background: url(../icons/check.png) 0 0/cover no-repeat;
			display: inline-block;
			position: absolute;
			top: 0px;
			left: 3px;
			width: 13px;
			height: 11px;
		}
	}

	&-button-block {
		display: flex;
		justify-content: space-between;
	}
}

.glass-design {
	display: flex;
	justify-content: space-between;

	&__item {
		text-align: center;
	}

	&__image {
		width: 79px;
		height: 79px;

		.image {
			object-fit: cover;
		}
	}

	&__caption-wrapper {
		padding-top: 10px;
		position: relative;
		display: inline-block;	
	}

	&__caption {
		font-size: 12px;
		line-height: 1;
		color: rgba( 0, 0, 0, 0.8 );
		
	}
}

.design__style-checked {
	border: 2px solid $primary;
}

.design__type-checked {
	padding-left: 8px;

	.glass-design__caption::before {
		content: "";
		background: url(../icons/check.png) 0 0/cover no-repeat;
		display: inline-block;
		position: absolute;
		
		top: 12px;
		left: -6px;
		width: 9px;
		height: 7px;
	}
}

.btn--design {
	border-radius: 0px;
	width: 36px;
	height: 36px;
}
.svg-arrow-left--design {
	width: 5px;
	height: 8px;
	fill: white;
}
.svg-arrow-right--design {
	width: 5px;
	height: 8px;
	fill: white;
}


.btn--design-content {
	width: 240px;
	height: 56px;
	
	.btn__title {
		font-size: 16px;
	}
}

.btn--design-content-secondary {
	background-color: $secondary;
}


/* ================================= */
/* ===== 8. CALCULATOR SECTION ===== */
/* ================================= */

.calculator {
	padding: 76px 0 54px;
	box-shadow: 2.5px 4.3px 21px rgba(0, 0, 0, 0.08);
	background: url(../img/bg_block_8.png) 0 0/cover no-repeat;

	&__headline {
	}

	&__constructor {
		margin-top: 35px;
		padding: 22px 0 31px 19px;
		display: flex;
		background-color: #fff;
	}

	&__request {

		margin: 50px 43px 0 auto;
		display: flex;
		justify-content: space-between;
		width: 785px;
	}

	&__personal-data {
		flex: 0 0 245px;
		text-align: center;
		font-size: 11px;
		font-style: italic;
		@include l-height ( 15, 11 );	
		.hl {
			color: $primary;
		}
	}
}

.constructor__header {
	margin-bottom: 18px;

	div[class*='number-before'] {
		&::before {
			top: -1px;
			left: 1px;
		}
	}

	&-title {
		padding-left: 26px;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		color: rgba( 0, 0, 0, 0.7 );
	}

	&-icon {
		margin-left: 2px;
		display: inline-block;
	}
}


.constructor__type {
	flex: 0 0 209px;
	
	&-list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 403px;
	}

	&-item {
		display: flex;
		align-items: center;
		height: 70px;
		background-color: white;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
	}

	&-checked {
		border: 1px solid #fdb44b;
	}

	&-image {
		flex: 0 0 73px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-image-size {

		&--1 {
			width: 38px;
			height: 29px;
		}
		
		&--2 {
			width: 44px;
			height: 29px;
		}

		&--3 {
			width: 43px;
			height: 37px;
		}

		&--4 {
			width: 41px;
			height: 36px;
		}

		&--5 {
			width: 50px;
			height: 19px;
		}
	}

	&-caption {
		font-family: "Open Sans";
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.8 );
		@include l-height ( 18, 14 );
	}
}

.constructor__view {
	flex: 0 0 499px;
	margin-left: 29px;
	margin-right: 24px;
	
	&-body {
		display: flex;
		flex-direction: column;
		height: 403px;
		background-color: white;
		border: 1px solid #d9d9d9;
		border-radius: 3px;
	}

	&-image {
		padding-top: 20px; /* по макету (можно убрать) */
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-image-size {
		width: 337px;
		height: 227px;
	}

	&-caption {
		padding: 0 0 21px 43px;
		font-size: 16px;
		font-weight: 500;
		color: #2c2c2c;

		.hl {
			color: $primary;
		}
	}
}

.constructor__options {
	flex: 0 0 390px;

	&-form {
		padding: 25px 0 21px 29px;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
	}
}

.grid-calculator {
	display: grid;
	row-gap: 20px;
	column-gap: 25px;
	grid-template-columns: repeat( 2, 150px );
	grid-template-rows: repeat( 5, auto );
	grid-template-areas: 
		"item-1 item-2 "
		"item-3 item-3"
		"item-4 item-4"
		"item-5 item-6"
		"item-7 item-7";
}

.grid-calculator__1st { grid-area: item-1; }

.grid-calculator__2nd { grid-area: item-2; }

.grid-calculator__3rd { grid-area: item-3; }

.grid-calculator__4th { grid-area: item-4; }

.grid-calculator__5th { grid-area: item-5; }

.grid-calculator__6th { grid-area: item-6; }

.grid-calculator__7th { grid-area: item-7; }


.calculator__label {
	display: block;
	font-size: 12px;
	color: rgba( 0, 0, 0, 0.8 );
	@include l-height ( 16, 12 );
}
.calculator__input {
	padding-left: 19px;
	width: 100%;
	height: 46px;
	border: 1px solid #d9d9d9;
	border-radius: 1px;
	font-size: 14px;
	color: rgba( 0, 0, 0, 0.8);
	cursor: pointer;

	&::placeholder {
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );
	}

	&:focus {
		outline: none;
		border: none;
		box-shadow: 0 0 0 2px #fdb44b;
	}

	&--square {
		padding: 0;
		text-align: center;
		width: 36px;
		height: 31px;
	}

	&.input-number {
		-moz-appearance: textfield;
    	/* appearance: textfield; */
		
		&::-webkit-inner-spin-button, 
    	&::-webkit-outer-spin-button { 
    		-webkit-appearance: none; 
			border: none;
		}
	}
}

.calculator__select-wrapper {
	margin-top: 6px;
	&::after {
		right: 19px;
	}
}
.calculator__select-dropdown {
	padding: 0px 31px 0 17px;
	width: 327px;
	height: 46px;
	border: 1px solid #d9d9d9;
	border-radius: 1px;
	background-color: white;
	font-size: 14px;
	font-weight: normal;
	color:rgba(0, 0, 0, 0.5 );

	&:focus {
		outline: none;
		  box-shadow: 0 0 0 2px #fdb44b;
	}
}

.calculator__price {
	text-align: right;
	font-size: 14px;
	color: rgba( 0, 0, 0, 0.5 );

	.hl {
		display: inline-block;
    	margin-left: 10px;
		font-size: 26px;
		font-weight: 700;
		color: $primary;
	}
}


.grid-calculator__1st {

	.calculator__input {
		margin-top: 5px;
	}
}

.grid-calculator__2nd {

	.calculator__input {
		margin-top: 5px;
	}
}
.grid-calculator__3rd {

}
.grid-calculator__4th {
}

.grid-calculator__5th {
	padding-top: 6px;
	display: flex;

	.calculator__input--square {
		flex: 0 0 31px;
		width: 31px;
		height: 31px;
	}

	.calculator__label {
		margin-left: 11px;
	}
}
.grid-calculator__6th {
	padding-top: 6px;
	display: flex;

	.calculator__input--square {
		margin: 0;
		margin-left: -12px;
		
		flex: 0 0 31px;
		width: 31px;
		height: 31px;

		appearance: none;
		&::-ms-expand { 
			display: none;
		}

		&:checked {
			background: url(../icons/check.png) 50% 50%/13px 11px no-repeat;
		}
	}
	
	.calculator__label {
		margin-left: 11px;
	}
}

.grid-calculator__7th {
	margin-top: 5px;
}

.svg-check--orange {
	width: 10px;
	height: 8px;
	fill: $primary;
}

.svg-check--grey {
	width: 10px;
	height: 8px;
	fill: $secondary;
}

.btn--calculator {
	flex: 0 1 458px;
	width: 458px;
	height: 52px;

	.btn__title {
		font-size: 18px;
	}
}


/* ============================= */
/* ===== 9. CHARGE SECTION ===== */
/* ============================= */

.charge {
	padding: 71px 0 68px;
	background: url(../img/bg_block_9.png) 0 0/cover no-repeat;

	.charge__headline {
		margin-bottom: 31px;

		.headline__title {
			color: white;
		}

		.headline__consultation {
			color: rgba(255, 255, 255, 0.8);
			text-decoration-color: rgba(255, 255, 255, 0.3);
		}
	}
}

.charge__item {
	margin-bottom: 19px;
	display: flex;
	min-height: 133px;
	background-color: white;

	&-icon {
		flex: 0 0 131px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-content {
		padding: 29px 21px 29px 0;
	}

	&-title {
		font-size: 18px;
		font-weight: 500;
		color: $primary;
	}

	&-desc {
		padding-top: 7px;
		font-family: "Open Sans";
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );
		@include l-height ( 24, 14 );
	}

	&-price {
		flex: 0 0 217px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		letter-spacing: normal;
		color: rgba( 0, 0, 0, 0.5 );
		border-left: 1px solid #d9d9d9;

		.hl {
			font-size: 32px;
			font-weight: 700;
			color: $primary;
			line-height: 1.7;
		}
	}
}

.svg-charge--1,
.svg-charge--2,
.svg-charge--3 {
	fill: $primary;
}

.svg-charge--1 {
	width: 63px;
	height: 63px;
}

.svg-charge--2 {
	width: 52px;
	height: 52px;
}

.svg-charge--3 {
	width: 55px;
	height: 55px;
}

.charge__item--first {
	.charge__item-desc {
		letter-spacing: 0.21px;
	}

	.charge__item-price {
		border: none;
		background-color:$primary;
		color: white;

		.hl {
			color: white;
		}
	}
}

.charge__item--second {
	.charge__item-desc {
		letter-spacing: 0.64px;
	}
}

.charge__item--third {
	margin-bottom: 0;
	
	.charge__item-price {

		.hl {
			font-size: 28px;
		}

		.underlined {
			text-decoration: underline;
			text-decoration-color: rgba(255, 255, 255, 0.2);
			text-underline-offset: 2px;
		}
	}
}


/* ================================= */
/* ===== 10. PRICELIST SECTION ===== */
/* ================================= */

.pricelist {
	padding: 52px 0 83px;

	&__title {
		margin-bottom: 33px;
		font-size: 22px;
		font-weight: 500;
		color: rgba( 0, 0, 0, 0.9 );
	}

	&__tab-list {
		display: flex;
		margin-bottom: 39px;
	}

	&__tab-list-item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
		height: 38px;
		background-color: white;
		border: 1px solid rgba( 0, 0, 0, 0.3 );
		border-radius: 2px;
		color: white;
		font-size: 12px;
		font-weight: 500;
		color: rgba( 0, 0, 0, 0.3 );

		&:not(:last-child) {
			margin-right: 11px;
		}

		&--active {
			border: none;
			background-color: $primary;
			color: white;
		}
	}

	&__tab-content {
	}

	&__table {
	}
}


.table-pricelist {
	width: 100%;
	border-collapse: collapse; 
}	

.table-pricelist__head,
.table-pricelist__header,
.table-pricelist__body,
.table-pricelist__data {
	display: block;
}

.table-pricelist__row {
	display: flex;

	&:nth-child(even) {
		background-color: #f3f3f3;
	}
}

.table-pricelist__header,
.table-pricelist__data {
	display: flex;
	align-items: center;
	font-size: 14px;

	&:nth-child(1) {
		flex: 1 1 auto;
		padding: 7px 16px 7px 16px;
		border-right: 1px solid #e5e5e5;
	}

	&:nth-child(2) {
		flex: 0 0 280px;
		padding: 7px 0 7px 75px;
	}
}

.table-pricelist__header {
	text-align: left;
	background-color: $primary;
}

.table-pricelist__data {
	&:nth-child(2) {
		letter-spacing: -0.45px; /* по макету */
	}
}

.pricelist__consultation {
	margin-top: 71px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #dadada;
	border-radius: 1px;
	
	&-content {

	}

	&-title {
		font-size: 18px;
		font-weight: 500;
	}

	&-action-list {
		margin-top: 18px;
		display: flex;
		justify-content: space-between;
	}

	&-action-item {
		padding-left: 23px;
		position: relative;
	
		font-size: 12px;
		color: rgba( 0, 0, 0, 0.8 );
	
		&::before {
			content: "";
			background: url(../icons/check.png) 0 0/cover no-repeat;
			display: inline-block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 3px;
			width: 13px;
			height: 11px;
		}

		&:not(:last-child) {
			margin-right: 21px;
		}
	}

	&-buttons-block {
		flex: 0 0 500px;
		display: flex;
		justify-content: space-between;
	}
}

.btn--pricelist {
	width: 247px;
	height: 56px;

	.btn__title {
		font-size: 16px;
	}
}

.btn--pricelist-secondary {
	width: 234px;
	background-color: $secondary;
}


/* ============================= */
/* ===== 11. STEPS SECTION ===== */
/* ============================= */

.steps {
	padding: 54px 0 68px;
	background-color: $primary;
	
	&__title {
		text-align: center;
		font-size: 26px;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
	}

	&__grid {
		margin-top: 49px;
	}
}


.grid-steps {
	display: grid;
	row-gap: 36px;
	column-gap: 63px;
	grid-template-columns: repeat( auto-fit, 358px );
	grid-auto-rows: 358px;
	justify-content: center;
}

.grid-steps {

	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: #fff;
		border-radius: 2px;
	}

	&__content {
		padding: 35px 30px 20px 37px;
		flex: 1 1 auto;

		div[class*='number-before'] {
			&::before {
				top: -1px;
				left: 0;
				width: 20px;
				height: 20px;
			}
		}
	}

	&__title {
		padding-left: 32px;
		font-size: 16px;
		font-weight: 700;
		color: rgba( 0, 0, 0, 0.9 );
	}

	&__desc {
		margin-top: 10px;
		font-family: "Open Sans";
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );
		@include l-height ( 25, 14 );
	}

	&__benefits {
		padding: 22px 20px 20px 20px;
		flex: 0 0 119px;
		display: flex;
		height: 119px;
		border-top: 1px solid #d9d9d9;

		&-icon {
			flex: 0 1 92px;

			svg[class*=svg-steps] {
				display: block;
				margin: 3px auto 0 auto;
			}
		}

		&-list {

		}

		&-list-item {
			padding-left: 30px;
			position: relative;
			font-size: 12px;
			color: rgba( 0, 0, 0, 0.8 );
			@include l-height ( 16, 12 );

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			&.check-before {
				&::before {
					top: 3px;
					left: 9px;
				}
			}
		}
	}	

	.svg-steps--1,
	.svg-steps--2,
	.svg-steps--3,
	.svg-steps--4,
	.svg-steps--5,
	.svg-steps--6 {
		fill: $primary;
	}

	.svg-steps--1 {
		width: 58px;
		height: 58px;
	}

	.svg-steps--2 {
		transform: scaleX(-1);
		width: 59px;
		height: 59px;
	}

	.svg-steps--3 {
		width: 56px;
		height: 56px;
	}

	.svg-steps--4 {
		width: 58px;
		height: 58px;
	}

	.svg-steps--5 {
		width: 60px;
		height: 60px;
	}

	.svg-steps--6 {
		width: 61px;
		height: 61px;
	}
}


/* ================================ */
/* ===== 12. BENEFITS SECTION ===== */
/* ================================ */

.benefits {
	padding: 69px 0 114px;

	&__title {
		font-size: 32px;
		font-weight: 500;
	}
	&__desc {
		margin-top: 14px;
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );	
	}
	&__grid {
		margin-top: 55px;
		width: 100%;
	}
}

.grid-benefits {
	display: grid;
	grid-template-columns: 496px 64px 305px 27px 305px;
	grid-template-rows: 152px 179px 179px 179px 145px;
	grid-template-areas: 
		"item-11 . item-1 . item-2"
		"item-11 . item-3 . item-4"
		"item-11 . item-5 . item-6"
		"item-11 . item-7 . item-8"
		"item-11 . item-9 . item-10";
}

.grid-benefits__1st { grid-area: item-1; }

.grid-benefits__2nd { grid-area: item-2; }

.grid-benefits__3rd { grid-area: item-3; }

.grid-benefits__4th { grid-area: item-4; }

.grid-benefits__5th { grid-area: item-5; }

.grid-benefits__6th { grid-area: item-6; }

.grid-benefits__7th { grid-area: item-7; }

.grid-benefits__8th { grid-area: item-8; }

.grid-benefits__9th { grid-area: item-9; }

.grid-benefits__10th { grid-area: item-10; }

.grid-benefits__11th { grid-area: item-11; }


.grid-benefits {

	&__item {
		height: 100%;
	}

	&__checked {
		border: 1px solid rgba( 221, 221, 221, 0.4 );
		border-radius: 3px;
	}

	&__number {
		font-size: 42px;
		font-weight: 300;
		line-height: 30px;
		color: $primary;
	}
	&__caption {
		margin-top: 18px;
		font-size: 14px;
		@include l-height ( 22, 14 );
		font-weight: 500;
		color: rgba( 0, 0, 0, 0.9 );
	}
}


.grid-benefits__1st { 
	.grid-benefits__item {
		padding: 0 80px 20px 40px;
	}
}

.grid-benefits__2nd { 
	.grid-benefits__item {
		padding: 0 60px 20px 40px;
	}
}

.grid-benefits__3rd { 
	.grid-benefits__item {
		padding: 34px 20px 0px 40px;
	}
}

.grid-benefits__4th { 
	.grid-benefits__item {
		padding: 34px 50px 0px 40px;
	}
}

.grid-benefits__5th { 
	.grid-benefits__item {
		padding: 34px 20px 0px 40px;
	}
}

.grid-benefits__6th { 
	.grid-benefits__item {
		padding: 34px 80px 0px 40px;
	}
}

.grid-benefits__7th { 
	.grid-benefits__item {
		padding: 34px 10px 0px 40px;
	}
}

.grid-benefits__8th { 
	.grid-benefits__item {
		padding: 34px 20px 0px 40px;
	}
}

.grid-benefits__9th { 
	.grid-benefits__item {
		padding: 34px 20px 0px 40px;
	}
}

.grid-benefits__10th { 
	.grid-benefits__item {
		padding: 34px 50px 0px 40px;
	}
}

.grid-benefits__11th { 
	.grid-benefits__item {
		padding: 0;
		border: none;
		border-radius: 0;
	}
	
	.image {
		object-fit: cover;	
	}
}


/* ================================= */
/* ===== 13. FUTNITURE SECTION ===== */
/* ================================= */

.furnirute {
	padding: 81px 0 88px;
	background: url(../img/bg_block_14.png) 0 0/cover no-repeat;
}

.furniture__brands {
	margin-top: 38px;
	padding: 29px 30px 20px 49px;
	display: flex;
	width: 100%;
	height: 404px;
	background-color: #fff;

	&-content {
		padding-right: 68px;
		display: flex;
		flex-direction: column;
	}

	&-logo-list {
		padding: 0px 0 37px 0;
		flex: 0 0 130px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #e5e5e5;
	}

	&-logo-item {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&-logo-icon--1 {
		margin-top: 11px;
		flex: 1 0 auto;
		width: 42px;
		height: 55px;
	}

	&-logo-icon--2 {
		margin-top: 16px;
		flex: 1 0 auto;
		width: 86px;
		height: 45px;
	}

	&-logo-icon--3 {
		margin-top: 22px;
		flex: 1 0 auto;
		width: 67px;
		height: 34px;
	}

	&-logo-icon--4 {
		margin-top: 26px;
		flex: 1 0 auto;
		width: 81px;
		height: 29px;
	}

	&-logo-icon--5 {
		margin-top: 9px;
		flex: 1 0 auto;
		width: 67px;
		height: 60px;
	}

	&-logo-icon--6 {
		margin-top: 23px;
		flex: 1 0 auto;
		width: 71px;
		height: 39px;
	}

	&-logo-caption {
		text-align: center;
		font-size: 12px;
		color: rgba( 0, 0, 0, 0.7 );
		text-decoration: underline;
		text-decoration-color: rgba( 0, 0, 0, 0.2 );
		text-underline-offset: 2px;
	}

	&-info {
		padding-top: 36px;
	}

	&-title {
		font-size: 24px;
		font-weight: 700;
		color: rgba( 0, 0, 0, 0.9 );
	}

	&-desc {
		text-align: justify;
		margin-top: 13px;
		font-family: "Open Sans";
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );
		@include l-height ( 26, 14 );
	}

	&-image {
		flex: 0 0 412px;
	}

	&-image-inner {
		position: relative;
	}

	&-image-buttons-block {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
	}

	&--checked {
		color: $primary;
		text-decoration-color: $primary;
	}
}

.btn--furniture {
	border-radius: 0px;
	width: 31px;
	height: 31px;
}

.svg-arrow-left--furniture,
.svg-arrow-right--furniture  {
	fill: white;
	width: 5px;
	height: 9px;
}


/* ============================ */
/* ===== 14. NEWS SECTION ===== */
/* ============================ */

.news {
	padding: 63px 0 94px;

	&__list {
		margin-top: 41px;
		display: flex;
		gap: 6%;
		width: 100%;
	}

	&__item {
		flex: 0 1 50%;
		padding-bottom: 27px;
		min-height: 520px;
		background-color: white;
		border-radius: 2px;
		box-shadow: 2.5px 4.3px 21px rgba(0, 0, 0, 0.1);
	}

	&__image {
		height: 260px;
		
		.image {
			object-fit: cover;
		}
	}
	
	&__body {
		display: flex;
	}

	&__content {
		padding: 27px 0 0 36px;
	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		color: rgba( 0, 0, 0, 0.9 );
	}

	&__date {
		margin-top: 16px;
		font-family: "Open Sans";
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.3 );
	}

	&__text {
		margin-top: 13px;
		font-family: "Open Sans";
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.5 );
		@include l-height ( 26, 14 );
	}

	&__button {
		flex: 0 0 81px;
		align-self: flex-end;
	}
}


%btn--news {
	margin: 0 auto;
	border-radius: 0px;
	width: 31px;
	height: 31px;
	fill: white;
}

.btn--news {
	@extend %btn--news;
}

.btn--news-secondary {
	@extend %btn--news;
	background-color: $secondary;
}

.svg-arrow-right--news {
	width: 5px;
	height: 8px;
}


/* =========================== */
/* ===== 15. FAQ SECTION ===== */
/* =========================== */

.faq {
	padding: 67px 0 87px;
	background-color: #ededee;

	&__headline {
		.headline__consultation {
			margin-right: 48px;
		}
	}
	
	&__questions-list {
		margin-top: 37px;
	}
}

.question-faq {

	&__list {
		
	}

	&__item {
		max-width: 1157px;

		&:not(:last-child) {
			margin-bottom: 19px;
		}

		&:first-child {
			margin-bottom: 28px;
		}
	}

	&__header {
		position: relative;
		z-index: 2;
		margin-bottom: -3px;/* чтобы убрать промежуток между скругленным header и body */
		padding-left: 21px;
		display: flex;
		align-items: center;
		height: 58px;
		background-color: $primary;
		border-radius: 3px;
	}

	&__body {
		padding-left: 21px;
		display: flex;
		min-height: 101px;
		background-color: white;
	}


	&__title {
		padding-left: 21px;
		color: white;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 700;
	}

	&__answer {
		padding: 21px 20px 20px 22px;
		font-family: "Open Sans";
		font-size: 15px;
		@include l-height ( 28, 15 );
	}

	&__icon-question {
		width: 24px;
		height: 24px;
	}

	&__icon-toggle {
		position: absolute;
		top: 51%;
		right: 0;
		transform: translate( 50%, -50% );
		cursor: pointer;
	}

	&__icon-quotes {
		padding: 28px 0 0 0;
	}
}

.svg-question {
	width: 24px;
	height: 24px;
}

.svg-quotes {
	fill: #e5e5e5;
	width: 22px;
	height: 18px;
}

.svg-faq--plus {
	width: 58px;
    height: 58px;
}

.svg-faq--minus {
	width: 75px;
    height: 75px;
}


/* ============================ */
/* ===== 16. ORDER SECTION ===== */
/* ============================ */

.order {
	padding: 71px 0 101px;

	&__title {
		font-size: 28px;
		font-weight: 500;
	}
	&__grid {
		margin-top: 42px;
	}
}

.grid-order {
	display: grid;
	grid-template-columns: 268px 332px 316px 284px;
    grid-auto-rows: 106px;
	grid-template-areas: 
		"item-1 item-2 item-3 item-4"
		"item-5 item-6 item-7 item-8";
}

.grid-order__1st { grid-area: item-1; }

.grid-order__2nd { grid-area: item-2; }

.grid-order__3rd { grid-area: item-3; }

.grid-order__4th { grid-area: item-4; }

.grid-order__5th { grid-area: item-5; }

.grid-order__6th { grid-area: item-6; }

.grid-order__7th { grid-area: item-7; }

.grid-order__8th { grid-area: item-8; }


.grid-order {

	&__item {
		display: flex;
		align-items: center;

		div[class*='number-before'] {
			&::before {
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 50%);
				width: 21px;
				height: 21px;
				color: white;
				font-size: 12px;
			}
		}
	}

	&__icon {
	}

	&__desc {
		margin-left: 20px;
		font-family: "Open Sans";
		font-size: 14px;
		color: rgba( 0, 0, 0, 0.7 );
		@include l-height ( 19, 14 );
	}
}

.svg-order--1,
.svg-order--2,
.svg-order--3,
.svg-order--4,
.svg-order--5,
.svg-order--6,
.svg-order--7,
.svg-order--8 {
	fill:#898989;
}

.svg-order--1 {
	width: 49px;
	height: 49px;
}

.svg-order--2 {
	width: 52px;
	height: 52px;
}

.svg-order--3 {
	width: 45px;
	height: 45px;
}

.svg-order--4 {
	width: 40px;
	height: 50px;
}

.svg-order--5 {
	width: 50px;
	height: 50px;	
}

.svg-order--6 {
	width: 53px;
	height: 52px;	
	transform: scaleX(-1);
}

.svg-order--7 {
	width: 48px;
	height: 48px;
}

.svg-order--8 {
	width: 49px;
	height: 50px;
}


.grid-order__1st {
	border-bottom: 1px solid #e0e0e0;

	.grid-order__item {
		padding: 15px 35px 0 0;
	}	
}

.grid-order__2nd {
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;

	@extend %grid-order-triangle;

	.grid-order__item {
		padding: 15px 30px 0px 50px;
	}
}

.grid-order__3rd {
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	@extend %grid-order-triangle;

	.grid-order__item {
		padding: 15px 30px 0px 60px;
	}
}

.grid-order__4th {
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	@extend %grid-order-triangle;

	.grid-order__item {
		padding: 15px 30px 0px 50px;
	}
}

.grid-order__5th {

	.grid-order__item {
		padding: 31px 30px 0 0;
	}
}

.grid-order__6th {
	border-left: 1px solid #e0e0e0;

	@extend %grid-order-triangle;

	.grid-order__item {
		padding: 31px 30px 0 50px;
	}

	.number-before--6 {
		&::before {
			z-index: 1;
		}
	}
}

.grid-order__7th {
	border-left: 1px solid #e0e0e0;

	@extend %grid-order-triangle;

	.grid-order__item {
		padding: 30px 30px 0 57px;
	}
}

.grid-order__8th {
	border-left: 1px solid #e0e0e0;

	@extend %grid-order-triangle;

	.grid-order__item {
		padding: 31px 0 0 39px;
	}

	.grid-order__desc {
		letter-spacing: -0.2px;
	}
}


%grid-order-triangle {
	@include grid-order-triangle;
}


/* ============================================================= */
/* ===== 17. REQUEST SECTION 2  (FULL COPY OF 4TH SECTION) ===== */
/* ============================================================= */


/* ================================= */
/* ========== 18. FOOTER =========== */
/* ================================= */

.footer {
	padding: 80px 0 29px;
	position: relative;
	color: white;
	background-color: #4f4949;

	&__content {
		display: flex;
	}

	&__devider {
		margin-top: 74px;
		border: none;
		border-top: 1px solid rgba( 221, 221, 221, 0.15 );
	}
}

.footer__info {
	margin-right: 137px;
	text-align: center;

	&-logo {
		margin-top: -10px;
	}
	
	&-working-hours {
		margin-top: 32px;
		padding-left: 13px;
		font-size: 11px;
		font-weight: 300;
		color: rgba( 255, 255, 255, 0.6 );
		@include l-height ( 16, 11 );
	}

	&-feedback {
		margin-top: 13px;
		padding-left: 13px;
	}

	&-link {
		font-size: 14px;
		font-weight: 500;
		color: rgba( 255, 255, 255, 0.9 );
		text-decoration: underline;
		text-decoration-color: rgba( 255, 255, 255, 0.2 );
		text-underline-offset: 1px; 
	}
}

.svg-footer--logo {
	width: 147px;
	height: 49px;
	fill:#fefefe
}

.footer__about-us {
	margin-right: 84px;

	&-title {
		font-size: 14px;
		font-weight: 500;
	}

	&-list {
		margin-top: 14px;
	}

	&-item {
		font-size: 11px;
		color: rgba( 255, 255, 255, 0.7 );
		@include l-height ( 22, 11 );
	}
}

.footer__partitions {
	margin-right: 107px;

	&-title {
		font-size: 14px;
		font-weight: 500;
	}

	&-list {
		margin-top: 14px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-between;
		width: 345px;
		height: 132px;
	}

	&-item {
		font-size: 11px;
		color: rgba( 255, 255, 255, 0.7 );
		@include l-height ( 22, 11 );
	}
}

.footer__contacts {
	&-title {
		font-size: 14px;
		font-weight: 500;
	}

	&-phone {
		margin-top: 19px;

		&-icon {
			display: inline-block;
		}
	
		&-number {
			display: inline-block;
			font-size: 20px;
			font-weight: 700;
		}
	}

	&-email {
		margin-top: 8px;
		font-size: 11px;
		font-weight: 300;
		color: rgba( 255, 255, 255, 0.7 );
		text-decoration: underline;
		text-decoration-color: rgba( 255, 255, 255, 0.3 );
		text-underline-offset: 2px;
	}

	&-address {
		margin-top: 18px;
		font-size: 11px;
		font-weight: 300;
		color: rgba( 255, 255, 255, 0.6 );
		@include l-height ( 16, 11 );
	}
}

.svg-footer--call {
	display: inline-block;
	width: 12px;
	height: 11px;
	fill:#fefefe
}

.footer__copyright {
	padding-top: 23px;

	&-subject {
		font-size: 11px;
		font-weight: 300;
		color: rgba( 255, 255, 255, 0.5 );
	}
}

.footer__button {
	position: absolute;
	top: 22.7%;
	right: 3.2%;
}

.btn--footer {
	position: relative;
	width: 54px;
	height: 48px;
}

button[class*='hint'][class*='btn--footer'] {
	&::after {
		display: none;
	}
}

button[class*='hint'][class*='btn--footer']:hover {
	&::after {
		content: "Наверх";
		display: flex;
		width: 89px;
		right: 108%;
		color: rgba( 0, 0, 0, 0.6 );
		background-color: #fcfbfc;
	}
}

.svg-arrow-up {
	width: 14px;
	height: 8px;
	fill: white;
}