@use 'mixins' as *;

/* ============================================== */
/* ================ MEDIA QUERIES =============== */
/* ============================================== */
/* === max-width: 1299px, 991px, 767px, 575px === */
/* ============================================== */

@media (max-width: 1759px) {

	/* ===== 5. PORTFOLIO SECTION ====== */

	.grid-portfolio__item-front .image {
		object-position: 0% 100%;
	}
	
	.portfolio__6th { 
		  grid-row: 2 / 4;
		  grid-column: 3 / 4;
	}
}

@media (max-width: 1319px) {

	/* ===== 5. PORTFOLIO SECTION ====== */

	.portfolio__6th { 
		  grid-row: auto;
		  grid-column: auto;
	}
}

@media (min-width: 1300px) {
	.container { max-width: 1230px; }
}


/* ======================================================= */
/* ================== MAX-WIDTH: 1299px ================== */
/* ======================================================= */

@media (max-width: 1299.5px) {
	.container { max-width: 960px; }


	/* ====== 4. REQUEST SECTION ======= */

	.request {
		&__inner {
			flex-direction: column;
		}

		&__content {
			flex-direction: row;
			justify-content: center;
		}
	
		&__form {
			margin-top: 34px;
		}
	
		&__desc {
			padding-right: 0;
		}
	
		&__text {
			flex: 0 0 440px;
			padding-right: 20px;
		}

		&__list {
			margin: 24px 0 0;
		}
	}

	.grid-request {
		grid-template-columns: repeat(2, 361px); 
		justify-content: center;
	}

	.form-request__pesonal-data {
		padding: 0; 
		align-self: center;
	}

	.btn--request {
		width: 100%;
	}


	/* ===== 6. GLASSTYPE SECTION ===== */

	.grid-glasstype {

		&__thumbnail {
			display: none;
		}

		&__content {
			flex: 0 0 100%;
		}
	
		&__body {
			padding: 25px 44px 25px 43px;
		}
	}


	/* ===== 9. CHARGE SECTION ===== */
	
	.charge .headline__consultation {
		display: none;
	}


	/* ===== 10. PRICELIST SECTION ===== */

	.pricelist {
		padding: 52px 0 60px;
	}

	.pricelist__tab-list-item {
		padding: 0px 24px;
	}

	.table-pricelist__header,
	.table-pricelist__data {
	
		&:nth-child(1) {
			padding: 7px 16px 7px 16px;
		}
	
		&:nth-child(2) {
			flex: 0 0 200px;
			padding: 7px 0 7px 25px;
		}
	}

	.pricelist__consultation {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 40px;
		
		&-wrapper {
			text-align: center;
		}

		&-title {
			text-align: center;
		}
		&-action-list {
			margin-top: 10px;
		}
		&-buttons-block {
			margin-top: 25px;
			flex: 1 1 auto;
		}
	}

	
	/* ===== 12. BENEFITS SECTION ===== */

	.grid-benefits {
		display: grid;
		grid-template-columns: 300px 300px 28px 300px;
		grid-template-rows: repeat(5, 179px);
		grid-template-areas: 
			"item-11 item-11 . item-1"
			"item-11 item-11 . item-2"
			"item-11 item-11 . item-3"
			"item-11 item-11 . item-4"
			"item-5 item-6 . item-7"
			"item-8 item-9 . item-10";
	}
	
	.grid-benefits__1st,
	.grid-benefits__2nd,
	.grid-benefits__3rd,
	.grid-benefits__4th,
	.grid-benefits__7th,
	.grid-benefits__10th {
		.grid-benefits__item {
			padding: 28px 10px 20px 15px;
		}
	}


	.grid-benefits__5th,
	.grid-benefits__6th,
	.grid-benefits__8th, 
	.grid-benefits__9th {
		.grid-benefits__item {
			padding: 28px 20px 20px 0;
		}
	} 

	.grid-benefits__11th .image {
		object-position: 0% 100%;
	}


	/* ===== 15. FAQ SECTION ===== */

	.question-faq__item {
		margin-right: 20px;
	}


	/* ===== 16. ORDER SECTION ===== */
	
	.grid-order {
		grid-template-columns: 268px 332px 332px;
		grid-template-areas: 
			"item-1 item-2 item-3"
			"item-4 item-5 item-6"
			"item-7 item-8 - ";
	}
	
	.grid-order__1st {
		border-bottom: 1px solid #e0e0e0;
		
		.grid-order__item {
			padding: 15px 35px 0 0;
		}	
	}
	
	.grid-order__4th {
		border-bottom: 1px solid #e0e0e0;
		border-left: none;

		&::before {
			display: none; /* triangle hidden */
		}
	
		.grid-order__item {
			padding: 15px 35px 0 0;
		}
	}
	
	.grid-order__5th {
		border-left: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;

		@include grid-order-triangle;

		.grid-order__item {
			padding: 31px 30px 0 50px;
		}
	}
	
	.grid-order__6th {
		border-left: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;

		.grid-order__item {
			padding: 31px 30px 0 50px;
		}

	}
	
	.grid-order__7th {
		border-left: none;

		&::before {
			display: none; /* triangle hidden */
		}
	
		.grid-order__item {
			padding: 31px 35px 0 0;
		}
	}
	
	.grid-order__8th {
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;

		.grid-order__item {
			padding: 31px 30px 0 50px;
		}
	}
}



/* ======================================================= */
/* ================== MAX-WIDTH: 991px =================== */
/* ======================================================= */

@media (max-width: 991px) {
	.container { max-width: 720px; }


	/* ====== 3. PRODUCT SECTION ======= */

	.product__grid {
		margin-top: 40px;
	}

	.product__btn-calc,
	.product__btn-ring {
		display: none;
	}

	.grid-product {
		grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
		grid-auto-rows: 520px;
		gap: 30px;
	
		&__content-front {
			padding: 20px 20px 20px 20px;
		}
	
		&__item-back {
			padding: 20px;
		}
			
		&__options-list-back {
			margin-bottom: 20px;
		}
		
		&__image-front {
			.image {
				object-fit: cover;
			}
		}
	}

	.btn--product {
		width: 100%;
	}


	/* ====== 4. REQUEST SECTION ======= */
	
	.request {

		&__text {
			flex: 0 0 384px;
		}

		&__list {
			margin: 47px 0 0;
		}
		
		&__title {
			font-size: 30px;
		}
		
		&__form {
			margin-top: 25px;
		}
	}

	.grid-request {
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
	}


	/* ===== 5. PORTFOLIO SECTION ====== */


	.grid-portfolio {
		grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));

		&__item-back {
			padding: 25px;
		}
		
		&__content-back {
			flex: 1 1 auto;
		}

		&__icon-back {
			flex: 0 0 35px;
		}
	}


	/* ===== 9. CHARGE SECTION ===== */

	.charge__item  {

		&-icon {
			display: none;
		}

		&-content {
			padding: 29px 21px 29px 29px;
		}
	}


	/* ===== 10. PRICELIST SECTION ===== */

	.pricelist__tab-list-item {
		text-align: center;
	}


	/* ===== 10. PRICELIST SECTION ===== */

	.table-pricelist__header,
	.table-pricelist__data {

		&:nth-child(2) {
			flex: 0 0 165px;
			padding: 7px 8px 7px 8px;
		}
	}


	/* ===== 11. STEPS SECTION ===== */

	.grid-steps {
		gap: 30px;
		grid-template-columns: repeat(auto-fit, 330px);
	}

	.grid-steps__content {
		padding: 20px 20px 20px 25px;
	}


	/* ===== 12. BENEFITS SECTION ===== */

	.benefits {
		padding: 50px 0 50px;
	
		&__desc,
		&__title {
			text-align: center;
		}

		&__desc {
			padding: 0 105px;
		}
		
		&__grid {
			margin-top: 30px;
		}
	}

	.grid-benefits {
		justify-content: end;
		grid-template-columns: repeat(2, 300px);
		grid-column-gap: 30px;
		grid-auto-rows: 179px;
		grid-template-rows: none;
		grid-template-areas: none;
	}
	
	.grid-benefits__1st,
	.grid-benefits__2nd,
	.grid-benefits__3rd,
	.grid-benefits__4th,
	.grid-benefits__5th,
	.grid-benefits__6th,
	.grid-benefits__7th,
	.grid-benefits__8th, 
	.grid-benefits__9th,
	.grid-benefits__10th { 
		grid-area: auto; 

		.grid-benefits__item {
			padding: 28px 30px 20px 15px;
		}
	}

	.grid-benefits__11th {
		display: none;
	}


	/* ===== 14. NEWS SECTION ===== */

	.news {

		&__list {
			flex-wrap: wrap;
			gap: 30px;
		}

		&__item {
			flex: 1 1 100%;
			min-height: 490px;
		}	
	}


	/* ===== 16. ORDER SECTION ===== */
	
	.order .container {
		text-align: center;
	}

	.order__grid {
		margin-left: 47px; /* centring inside of container (315 - 268) */
	}

	.grid-order {
		text-align: left;

		display: inline-grid;
		grid-template-columns: 268px 315px;
		grid-template-areas: 
			"item-1 item-2"
			"item-3 item-4"
			"item-5 item-6"
			"item-7 item-8";
	}

	.grid-order__desc {
		margin-left: 28px;
	}

	.grid-order__3rd,
	.grid-order__5th {
		border-bottom: 1px solid #e0e0e0;
		border-left: none;

		&::before {
			display: none; /* triangle hidden */
		}
	}

	.grid-order__4th {

		&::before {
			display: inline-block;  /* triangle displayed */
		}

		border-left: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}

	.grid-order__8th {
		border-right: none;
	}

	.grid-order__1st {
		.grid-order__item {
			padding: 15px 10px 23px 0;
		}
	}

	.grid-order__2nd {
		.grid-order__item {
			padding: 15px 10px 23px 33px;
		}
	}

	.grid-order__3rd,
	.grid-order__5th,
	.grid-order__7th {
		.grid-order__item {
			padding: 23px 10px 23px 0;
		}
	}

	.grid-order__4th,
	.grid-order__6th,
	.grid-order__8th {
		.grid-order__item {
			padding: 23px 10px 23px 33px;
		}
	}
}



/* ======================================================= */
/* ================== MAX-WIDTH: 767px =================== */
/* ======================================================= */

@media (max-width: 767px) {
	.container { max-width: 540px; }


	/* ====== 3. PRODUCT SECTION ======= */

	.product {
		.container {
			max-width: none;
		}
	}

	.grid-product {
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		grid-auto-rows: minmax(520px, 1fr);
		gap: 20px;

		&__options-list-back {
			display: none;
		}

		&__price-front .text-hl,
		&__price-back .text-hl  {
			font-size: 20px;
		}
	}


	/* ====== 4. REQUEST SECTION ======= */

	.request {

		&__desc {
			padding-right: 110px;
		}

		&__content {
			flex-direction: column;
		}

		&__text {
			flex: 0 0 auto;
		}

		&__list {
			margin: 20px 0 0;
		}
	}


	/* ===== 5. PORTFOLIO SECTION ====== */

	.portfolio__title {
		font-size: 28px;
	}

	.grid-portfolio {
		grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
		grid-auto-rows: 275px;
	}

	.grid-portfolio {

		&__item-back {
			padding: 14px;
		}

		&__title-back {
			margin-bottom: 15px;
			font-size: 18px;
		}
		
		&__desc-back {
			line-height: normal;
		}
		
		&__order-back {
			margin-top: 15px;
			font-size: 12px;
		}

		&__price-back {
			margin-top: 10px;
		}
	}


	/* ===== 9. CHARGE SECTION ===== */

	.charge {
		.headline__title {
			padding-right: 15px;
			font-size: 30px;
		}
	}

	.charge__item {
		margin-bottom: 25px;
		flex-direction: column;
	}

	.charge__item-price {
		padding: 10px 21px 10px 0;
		flex: 0 0 auto;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;

		.hl {
			margin: 0 10px;
			font-size: 20px;
			line-height: 1;
		}
	}

	.charge__item--second {

		.charge__item-price {
			border-top: 1px solid #d9d9d9;
		}
	}

	.charge__item--third {
		margin-bottom: 0;

		.charge__item-price {
			border-top: 1px solid #d9d9d9;

			.hl {
				font-size: 20px;
			}
		}
	}


	/* ===== 10. PRICELIST SECTION ===== */

	.table-pricelist__header,
	.table-pricelist__data {
		font-size: 13px;

		&:nth-child(2) {
			flex: 0 0 115px;
		}
	}

	.pricelist__consultation {
		width: 100%;
	}

	.pricelist__tab-list-item {
		padding: 0px 10px;
		font-size: 11px;
	}

	.pricelist__consultation-action-item {
		font-size: 11px;

		&:not(:last-child) {
			margin-right: 0;
		}
	}

	.btn--pricelist, 
	.btn--pricelist-secondary {
		width: 48%;
	}


	/* ===== 11. STEPS SECTION ===== */

	.steps__title {
		margin: 0 auto;
		max-width: 410px;
		text-align: left;
		font-size: 25px;
	}

	.grid-steps {
		grid-template-columns: repeat(auto-fit, 410px);
		grid-auto-rows: 320px;
	}


	/* ===== 12. BENEFITS SECTION ===== */

	.benefits__desc,
	.benefits__title {
		text-align: left;
	}

	.benefits__desc {
		padding: 0;
	}

	.grid-benefits {
		grid-template-columns: repeat(2, 250px);
		grid-column-gap: 10px;
	}

	.grid-benefits__1st,
	.grid-benefits__2nd,
	.grid-benefits__3rd,
	.grid-benefits__4th,
	.grid-benefits__5th,
	.grid-benefits__6th,
	.grid-benefits__7th,
	.grid-benefits__8th, 
	.grid-benefits__9th,
	.grid-benefits__10th { 
	
		.grid-benefits__item {
			padding: 28px 10px 20px 15px;
		}
	}


	/* ===== 14. NEWS SECTION ===== */

	.news {
		.headline {
			flex-direction: column;
			
			
			align-items: flex-start;
			gap: 20px;

			.headline__consultation {
				align-self: flex-end;
			}
		}

		&__list {
			margin-top: 15px;
		}
	} 

	
	/* ===== 15. FAQ SECTION ===== */

	.faq {
		.headline__title {
			font-size: 30px;
		}

		.headline__consultation {
			display: none;
		}
	}

	.question-faq {

		&__title,
		&__item,
		&__answer {
			font-size: 14px;
		}

		&__item:not(:last-child),
		&__item:first-child {
			margin-bottom: 15px;
		}

		&__header {
			height: 50px;
		}

		&__answer {
			line-height: normal;
		}
	}

	.svg-faq--plus {
		width: 50px;
		height: 50px;
	}
	
	.svg-faq--minus {
		width: 65px;
		height: 65px;
	}


	/* ===== 16. ORDER SECTION ===== */

	.order {
		padding: 71px 0 50px;

		&__title {
			text-align: left;
		}
	
		&__grid {
			margin-left: 0;
		}
	}

	.grid-order {
		margin-left: 0;
		grid-template-columns: 245px 265px;
		grid-template-rows: 85px 106px 106px 91px;

		&__desc {
			margin-left: 20px;
		}
	
		&__item {
			height: 100%;
		}
	}

	.grid-order__1st,
	.grid-order__2nd {
		.grid-order__item {
			align-items: flex-start;
		}
	}

	.grid-order__1st,
	.grid-order__3rd,
	.grid-order__5th,
	.grid-order__7th {
		.grid-order__item {
			padding: 0 10px 0 0;
		}
	}

	.grid-order__2nd,
	.grid-order__4th,
	.grid-order__6th,
	.grid-order__8th {
		.grid-order__item {
			padding: 0 0 0 33px;
		}
	}
}



/* ======================================================= */
/* ================== MAX-WIDTH: 575px =================== */
/* ======================================================= */

@media (max-width: 575px) {
	.container { max-width: 480px; }

	
	/* ====== 3. PRODUCT SECTION ======= */

	.product {
		padding: 30px 0;

		&__grid {
			margin-top: 30px;
		}
	}

	.grid-product {
		grid-template-rows: none;
		grid-auto-rows: auto;
		grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	
		&__image-front {
			height: 185px;}

	
		&__desc-back {
			margin-bottom: 17px;
		}
	
		&__price-front .text-hl,
		&__price-back .text-hl {
			font-size: 19px;
			margin-top: 3px;
		}

		&__price-front,
		&__price-back {
			margin-bottom: 10px;
		}

		&__order-front,
		&__order-back {
			margin-bottom: 7px;
		}

		&__desc-front,
		&__desc-back,
		&__order-front,
		&__order-back {
			font-size: 13px;
		}

		&__title-front,
		&__title-back {
			font-size: 15px;
		}
	}

	.btn--product {
		flex: 0 0 40px;
	}


	/* ====== 4. REQUEST SECTION ======= */
	
	.request {
		padding: 25px 0;

		&__title {
			font-size: 26px;
		}
	
		&__text,
		&__desc {
			padding: 0;
		}
	}

	.grid-request {
		gap: 15px;
		grid-auto-columns: 1fr;
		grid-auto-rows: minmax( 49px, 1fr );
		grid-template-columns: none;
		grid-template-rows: none;
		grid-template-areas: none;
	}

	.request__1st,
	.request__2nd,
	.request__3rd,
	.request__4th,
	.request__5th { 
		grid-area: auto; 
	}

	.request__5th {
		padding: 0;
	}


	/* ===== 5. PORTFOLIO SECTION ====== */

	.portfolio {
		padding: 30px 0;

		&__grid {
			margin-top: 30px;
		}
	}

	.grid-portfolio {
		grid-template-columns: repeat(2, 1fr);
   		grid-auto-rows: 50vw;
	}

	.grid-portfolio__item-front.portfolio__2nd {
		display: block;
	}

	.grid-portfolio__item-back.portfolio__2nd {
		display: none;
	}


	/* ===== 9. CHARGE SECTION ===== */

	.charge {
		padding: 30px 0;

		.headline__title {
			padding: 0;
			font-size: 26px;
		}
	}

	.charge__item {

		&-content {
			padding: 15px;
		}

		&-price {
			padding: 15px;
			justify-content: flex-start;

			.hl {
				margin: 0 5px;
			}
		}

		&-desc {
			line-height: 1.5;
		}
	}

	
	/* ===== 10. PRICELIST SECTION ===== */

	.pricelist {
		padding: 30px 0;
	}

	.table-pricelist__header,
	.table-pricelist__data {
		
		&:nth-child(1) {
			flex: 1 1 auto;
			padding: 7px 10px 0px 10px;
			border-right: none;
		}

		&:nth-child(2) {
			flex: 1 1 auto;
			align-self: flex-start;
			padding: 7px 10px 7px 10px;
			color: #faae41;

			&::before {
				content: 'Цена';
				margin-right: 4px;
			}
		}
	}

	.pricelist__tab-list {
		flex-wrap: wrap;
		row-gap: 10px;
		margin-bottom: 20px;
	}

	.table-pricelist {
		border: 1px solid #f3f3f3;

		.table-pricelist__head {
			display: none;
		}

		.table-pricelist__row {
			flex-direction: column;
		}
	}

	.pricelist__consultation {
		padding: 15px;
		
		&-title {
			text-align: left;
			font-size: 16px;
		}

		&-action-list {
			flex-wrap: wrap;
			justify-content: stretch;
			row-gap: 5px;
			column-gap: 10px; 
			text-align: left;
		}

		&-buttons-block {
			flex-wrap: wrap;
			margin-top: 15px;
			gap: 10px;
		}
	}
	
	.btn--pricelist {
		flex: 1 1 175px;
		height: 40px;
	}

	.btn__title {
		font-size: 14px;
	}


	/* ===== 11. STEPS SECTION ===== */

	.steps {
		padding: 30px 0;

		&__title {
			padding: 0;
			font-size: 22px;
		}

		&__grid {
			margin-top: 30px;
		}
	}

	.grid-steps {
		grid-auto-rows: auto;
		grid-template-columns: repeat(auto-fit, minmax(290px, 410px));
	}

	.grid-steps__benefits {height: auto;}


	/* ===== 12. BENEFITS SECTION ===== */

	.benefits {
		padding: 30px 0 30px;

		&__title {
			font-size: 28px;
		}
	}

	.grid-benefits {
		grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
		justify-content:start;

		&__caption {
			font-size: 13px;
		}
	}


	/* ===== 14. NEWS SECTION ===== */

	.news {
		padding: 30px 0 30px;

		.headline__title {
			font-size: 25px
		}

		&__item {
			padding-bottom: 0;
		}
	
		&__image {
			height: 180px;
		}
	
		&__body {
			flex-direction: column;
			padding: 20px;
		}
	
		&__content {
			padding: 0;
		}
		
		&__button {
			flex: 0 0 31px;
			margin-top: 10px;

			.btn {
				width: 68px;
			}
		}
	}
	

	/* ===== 15. FAQ SECTION ===== */

	.faq {
		padding: 30px 0 30px;

		.headline__title {
			font-size: 26px;
		}

		&__questions-list {
			margin-top: 25px;
		}
	}

	.question-faq {

		&__item:not(:last-child),
		&__item:first-child {
			margin-bottom: 10px;
		}

		&__title {
			padding: 10px 35px 10px 16px;
			font-size: 13px;
		}
	
		&__header {
			height: auto; 
			padding: 0;
		}
	
		&__body {
			padding: 0; 
			min-height: auto;
		}
	
		&__answer {
			padding: 16px;
			font-size: 13px;
		}
	
		&__icon-toggle {
			top: 52%;
		}
	
		&__icon-quotes,
		&__icon-question {
			display: none;
		}
	}

	.svg-faq--plus {
		width: 38px;
		height: 38px;
	}

	.svg-faq--minus {
		width: 50px;
		height: 50px;
	}
	

	/* ===== 16. ORDER SECTION ===== */

	.order {
		padding: 30px 0 30px;

		&__title {
			text-align: center;
			font-size: 26px;
		}

		&__grid {
			margin-top: 20px;
		}
	}
	
	.grid-order {
		grid-template-columns: none;
		grid-template-rows: none;
		grid-template-areas: none;
		grid-auto-columns: 245px;
		grid-auto-rows: 105px;
	}

	.grid-order__1st,
	.grid-order__2nd,
	.grid-order__3rd,
	.grid-order__4th,
	.grid-order__5th,
	.grid-order__6th,
	.grid-order__7th,
	.grid-order__8th { 
		grid-area: auto;
		border: none;
		
		&::before {
			display: none; /* triangle hidden */
		}

		.grid-order__item {
			padding: 0;
			align-items: center;
		}

		&:not(:first-child) {
			border-top: 1px solid #e0e0e0;

			&::before {
				display: inline-block; /* triangle display */
				left: 50%;
				top: 0%;
				transform: translateY(-30%) rotate(90deg);
			}
		}
	}
}



/* ======================================================= */
/* ================== MAX-WIDTH: 480px =================== */
/* ======================================================= */

@media (max-width: 480px) {

	/* ====== 3. PRODUCT SECTION ======= */

	.product__1st {
		.grid-product__item-front {
			display: flex;
		}

		.grid-product__item-back {
			display: none;
		}
	}

	.grid-product {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;

		&__image-front {
			flex: 0 0 33vw;
			height: auto;
		}
	
		&__order-front,
		&__desc-front {
			display: none;
		}
		
		&__title-front {
			flex: 1 1 auto;
			font-size: 12px;
			/* font-weight: normal;
			color: black; */
			margin-bottom: 15px;
		}
		
		&__price-front {
	
			.text {
				font-size: 12px;
			}
	
			.text-hl {
				font-size: 14px;
			}
		}
	
		&__content-front {
			padding: 2vw;
		}
	}

	.btn--product {
		flex: 0 0 35px;

		.btn__title {
			font-size: 13px;
		}
	}
	

	// Вариант с центрированием единственной колонки (ниже)

	// .grid-product {
	// 	grid-template-columns: repeat(auto-fit, minmax(290px, 372px));
	
	// 	&__options-list-back {
	// 		display: block;
	// 	}
		
	// 	&__price-front .text-hl,
	// 	&__price-back .text-hl {
	// 		font-size: 22px;
	// 	}

	// 	&__image-front {
	// 		height: 228px;
	// 	}

	// 	&__content-front {
	// 		padding: 245px 20px 20px 20px;
	// 	}
	
	// 	&__price-front .text-hl,
	// 	&__price-back .text-hl {
	// 		margin-top: 0;
	// 	}

	// 	&__price-front,
	// 	&__price-back {
	// 		margin-bottom: 22px;
	// 	}

	// 	&__order-front,
	// 	&__order-back {
	// 		margin-bottom: 11px;
	// 	}

	// 	&__desc-front,
	// 	&__desc-back 
	// 	&__order-front,
	// 	&__order-back {
	// 		font-size: 14px;
	// 	}

	// 	&__title-front,
	// 	&__title-back {
	// 		font-size: 18px;
	// 	}
	// }

	// .btn--product {
	// 	flex: 0 0 54px;
	// }


	/* ===== 12. BENEFITS SECTION ===== */

	.grid-benefits {
		grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));

		&__caption {
			font-size: 11px;
		}
	}


	/* ===== 15. FAQ SECTION ===== */

	.question-faq {

		&__title {
			padding: 10px 53px 10px 16px;
			display: flex;
			align-items: center;
			min-height: 56px;
		}
	
		&__item {
			margin-right: 0;
		}
	
		&__icon-toggle {
			right: 26px;
		}
	}
}



@media (max-width: 380px) {

	/* ====== 3. PRODUCT SECTION ======= */
	
	.grid-product__icon-front {
		width: 50px;
		height: 50px;

		.svg-search {
			width: 15px;
			height: 15px;
		}
	}

	/* ===== 5. PORTFOLIO SECTION ====== */

	.portfolio__title {
		font-size: 24px;
	}

	.grid-portfolio__icon-front {
		width: 50px;
		height: 50px;
		
		.svg-search {
			width: 15px;
			height: 15px;
		}
	}

	.btn--portfolio-more {
		margin: 25px auto 0 auto;
		padding: 0 0 0px 15px;
		height: 45px;
		
		.btn__title {
			font-size: 16px;
		}
	}


	/* ===== 11. STEPS SECTION ===== */
	
	.grid-steps__benefits {

		&-icon {
			display: none;
		}

		&-list-item {
			font-size: 14px;
		}
	}


	/* ===== 12. BENEFITS SECTION ===== */

	.grid-benefits {
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		grid-auto-rows: auto;
	}

	// Вариант с центрированием единственной колонки (ниже)

	// .grid-benefits {
	// 	grid-template-columns: 230px;
	// 	justify-content:center;
	// }

	// .benefits {

	// 	&__grid {
	// 		margin-top: 10px;
	// 	}
		
	// 	&__title {
	// 		margin: 0 auto;
	// 		width: 230px;
	// 		text-align: center;
	// 	}
		
	// 	&__desc {
	// 		margin: 14px auto 0 auto;
	// 		width: 240px;
	// 		text-align: center;
	// 	}
	// }
}


@media (max-width: 320px) {
	.container { max-width: 320px; 
	}
}