@charset "UTF-8";
@import url("./custom_css_reset.css");
@import url("./fonts.css");
/* ===== VARIABLES ===== */
/* ===== GLOBAL STYLES ===== */
body {
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	font-family: "Gotham Pro", sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.image {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 0 0;
}

.hidden {
	display: none !important;
}

/* * * BUTTON STYLES * * */
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 242px;
	height: 55px;
	border: none;
	border-radius: 2px;
	background-color: #faae41;
	cursor: pointer;
}
.btn__icon {
	display: inline-block;
	width: 15px;
	height: 15px;
}
.btn__title {
	display: inline-block;
	font-family: "Corbel";
	font-size: 17px;
	font-weight: bold;
	color: white;
}

/* * * HINT STYLES * * */
.hint--right::after, .hint--left::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 129px;
	height: 36px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}

.hint--left::after {
	clip-path: polygon(5.5% 0, 100% 0, 100% 100%, 5.5% 100%, 5.5% 70%, 0 50%, 5.5% 30%, 5.5% 0);
	padding-left: 7px;
}

.hint--right::after {
	clip-path: polygon(0 0, 94.5% 0, 94.5% 70%, 100% 50%, 94.5% 30%, 94.5% 100%, 0 100%);
	padding-right: 7px;
}

/* * * ICONS * * */
.icon-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	background-color: #222421;
	opacity: 50%;
	cursor: pointer;
}

.svg-search {
	width: 19px;
	height: 19px;
	fill: white;
}

/* * * HEADLINE STYLE* * */
.headline {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.headline__title {
	font-size: 32px;
	font-weight: 500;
}
.headline__consultation {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-color: rgba(0, 0, 0, 0.2);
}

/* * * SELECT STYLE * * */
.select-wrapper {
	display: block;
	position: relative;
}
.select-wrapper::after {
	content: "";
	display: inline-block;
	position: absolute;
	right: 16px;
	top: 43%;
	width: 0;
	height: 0;
	transform: translateY(50%);
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #000000 transparent transparent transparent;
	opacity: 0.4;
	pointer-events: none;
	/* Элемент не может быть целью событий указателя; */
}

.select-dropdown {
	/* обнуление стилей */
	appearance: none;
	/* убираем браузерную стрелку */
	border: none;
	background-color: transparent;
	display: block;
	cursor: pointer;
}
.select-dropdown::-ms-expand {
	display: none;
	/* убираем стрелку в IE */
}

/* * * CHECK-BEFORE STYLE * * */
.check-before::before {
	content: "";
	background: url(../icons/check.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 3px;
	width: 13px;
	height: 11px;
}

/* * * NUMBER-BEFORE STYLE * * */
.number-before--8, .number-before--7, .number-before--6, .number-before--5, .number-before--4, .number-before--3, .number-before--2, .number-before--1 {
	position: relative;
}
.number-before--8::before, .number-before--7::before, .number-before--6::before, .number-before--5::before, .number-before--4::before, .number-before--3::before, .number-before--2::before, .number-before--1::before {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 19px;
	height: 19px;
	color: white;
	font-size: 10px;
	font-weight: 700;
	border-radius: 50%;
	background-color: #faae41;
}

.number-before--1::before {
	content: "1";
}
.number-before--2::before {
	content: "2";
}
.number-before--3::before {
	content: "3";
}
.number-before--4::before {
	content: "4";
}
.number-before--5::before {
	content: "5";
}
.number-before--6::before {
	content: "6";
}
.number-before--7::before {
	content: "7";
}
.number-before--8::before {
	content: "8";
}

/* ================================= */
/* =========== 1. HEADER =========== */
/* ================================= */
.header {
	background-color: #545559;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 11px 0 20px;
}

.svg-logo {
	width: 147px;
	height: 49px;
	fill: #fefefe;
}

.nav {
	flex: 0 1 698px;
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__link {
	font-size: 11px;
	color: white;
}

.header__call {
	color: white;
}
.header__call-number {
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.4;
}
.header__call-order {
	display: block;
	text-align: end;
	font-size: 12px;
	font-weight: 300;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

.svg-call {
	width: 13px;
	height: 13px;
	fill: #fefefe;
}

/* ================================= */
/* ======== 2. HERO-SECTION ======== */
/* ================================= */
.hero__background {
	position: relative;
}
.hero__background .container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.hero__background-image {
	position: relative;
	padding-bottom: 43.475%;
}
.hero__background-image .image {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
}
.hero__mark--1st, .hero__mark--2nd, .hero__mark--3rd {
	position: absolute;
}
.hero__mark--1st {
	top: 17%;
	right: 32.4%;
}
.hero__mark--2nd {
	top: 45%;
	right: 35.8%;
}
.hero__mark--3rd {
	top: 60.6%;
	right: 15.2%;
}
.hero__mark--active div[class*=hint]::after {
	content: "Цвет: Графит";
	left: 82%;
}
.hero__title {
	font-size: 38px;
	line-height: 1.2;
}
.hero__subtitle {
	font-size: 16px;
	opacity: 0.7;
	line-height: 1.625;
}
.hero__devider {
	margin-top: 76px;
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.svg-mark,
.svg-mark-active-down,
.svg-mark-active-up {
	width: 78px;
	height: 78px;
}

.hero__btn-arrow-left {
	position: absolute;
	z-index: 1;
	top: 19%;
	left: 0;
}

.btn--hero-arrow-left {
	width: 41px;
	height: 41px;
	border-radius: 0px;
}

.svg-arrow-left {
	width: 6px;
	height: 12px;
	fill: white;
}

.hero__offer {
	margin-top: calc(15vw - 129px);
	padding: 33px 36px 38px 42px;
	width: 579px;
	height: 337px;
	border-radius: 2px;
	background-color: #fff;
}
.hero__offer-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.hero__offer-body {
	flex: 1 0 auto;
	padding-top: 22px;
}
.hero__offer-footer {
	display: flex;
	justify-content: space-between;
}

.btn--hero-offer {
	background-color: #545559;
}

.btn--hero-choice {
	align-self: end;
	width: 257px;
	height: 46px;
}
.btn--hero-choice .btn__title {
	font-size: 15px;
	font-family: "Gotham Pro";
	font-weight: 500;
}

.svg-zamer,
.svg-consult {
	width: 15px;
	height: 15px;
	fill: white;
}

.hero__choice {
	position: relative;
	margin-top: -8.7%;
	display: flex;
	flex-direction: column;
	padding: 26px 36px 34px 34px;
	width: 100%;
	height: 192px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.hero__choice-header {
	display: flex;
	justify-content: space-between;
}
.hero__choice-title {
	font-size: 28px;
	font-weight: 500;
}
.hero__choice-price {
	flex: 0 0 255px;
}
.hero__choice-price-value {
	color: rgba(0, 0, 0, 0.5);
}
.hero__choice-price-value .hl {
	display: inline-block;
	margin-left: 11px;
	font-size: 26px;
	font-weight: bold;
	color: #faae41;
}
.hero__choice-price-desc {
	margin-top: 9px;
	text-align: center;
	font-size: 11px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3636363636;
	color: #7f7f7f;
}
.hero__choice-managers {
	color: #faae41;
	opacity: 50%;
	text-decoration: underline;
	text-underline-offset: 1px;
}
.hero__choice-footer {
	margin-top: -9px;
}

.hero-form {
	display: flex;
	justify-content: space-between;
	/* +++ SELECT STYLE */
}
.hero-form__select-wrapper {
	margin-top: 8px;
}
.hero-form__select-label {
	/* display: inline-block; */
	font-size: 12px;
}
.hero-form__select-dropdown {
	padding: 0px 31px 0 17px;
	width: 256px;
	height: 46px;
	border: 2px solid #faae41;
	border-radius: 5px;
	background-color: white;
	font-size: 14px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.5);
}

.hero__advantages {
	display: flex;
	justify-content: space-between;
	margin-top: 72px;
	width: 100%;
}
.hero__advantages-item {
	position: relative;
	display: flex;
	gap: 17px;
	flex: 0 0 237px;
}
.hero__advantages-item:not(:last-child)::after {
	content: "";
	position: absolute;
	display: inline-block;
	top: 0;
	left: 274px;
	width: 1px;
	height: 59px;
	background-color: rgba(0, 0, 0, 0.1);
}
.hero__advantages-icon {
	flex: 0 0 55px;
	width: 55px;
	height: 55px;
}
.hero__advantages-desc {
	font-family: "Open Sans";
	font-size: 13.61px;
	line-height: 1.3885714286;
	color: rgba(0, 0, 0, 0.5);
}

.hero__advantages-item--1st .hero__advantages-desc {
	padding-right: 10px;
}

.hero__advantages-item--2nd:not(:last-child)::after {
	left: 279px;
}
.hero__advantages-item--2nd .hero__advantages-icon {
	flex: 0 0 53px;
	width: 53px;
	height: 53px;
}

.hero__advantages-item--3rd {
	gap: 7px;
}

.hero__advantages-item--4th {
	gap: 10px;
}
.hero__advantages-item--4th .hero__advantages-icon {
	flex: 0 0 57px;
	width: 57px;
	height: 57px;
}

.svg-hero--advantages-1,
.svg-hero--advantages-3 {
	width: 55px;
	height: 55px;
	fill: #faae41;
}

.svg-hero--advantages-2 {
	width: 53px;
	height: 53px;
	fill: #faae41;
}

.svg-hero--advantages-4 {
	width: 57px;
	height: 57px;
	fill: #faae41;
}

/* ================================= */
/* ====== 3. PRODUCT SECTION ======= */
/* ================================= */
.product {
	padding: 54px 0 88px 0;
	position: relative;
}
.product__title {
	text-align: center;
	font-size: 28px;
	font-weight: 500;
}
.product__grid {
	margin-top: 59px;
}

.product__btn-calc {
	position: absolute;
	z-index: 1;
	top: 144px;
	right: 0;
}

button[class*=btn--product-calc][class*=hint]::after {
	display: none;
}

button[class*=btn--product-calc][class*=hint]:hover::after {
	min-width: 155px;
	/* !!!!!!!!!!!!!!!!!Почему без этого текст переносится? */
	display: flex;
	content: "Выполните расчёт";
	right: 118%;
	color: rgba(0, 0, 0, 0.6);
	background-color: #fcfbfc;
}

.product__btn-ring {
	position: absolute;
	z-index: 1;
	top: 209px;
	right: 0;
}

button[class*=btn--product-ring][class*=hint]::after {
	display: none;
}

button[class*=btn--product-ring][class*=hint]:hover::after {
	display: flex;
	content: "Позвоните нам";
	right: 118%;
	color: rgba(0, 0, 0, 0.6);
	background-color: #fcfbfc;
}

.btn--product-ring,
.btn--product-calc {
	position: relative;
	width: 66px;
	height: 59px;
}

.btn--product {
	flex: 0 0 54px;
	width: 322px;
}
.btn--product__title {
	font-size: 18px;
}

.svg-calc {
	width: 25px;
	height: 29px;
	fill: white;
}

.svg-ring {
	width: 28px;
	height: 28px;
	fill: white;
}

.grid-product {
	display: grid;
	gap: 41px;
	grid-template-columns: repeat(auto-fit, 372px);
	grid-auto-rows: 500px;
	justify-content: center;
}

/* ----- item-front ----- */
.grid-product__item-front {
	position: relative;
	height: 100%;
}

.grid-product__image-wrapper-front {
	position: absolute;
	top: 0;
	left: 0;
}

.grid-product__image-front {
	height: 228px;
	position: relative;
}
.grid-product__image-front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* +++ icon-front +++ */
.grid-product__icon-front {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-product__content-front {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 245px 18px 27px 29px;
	border: 1px solid #d6d6d6;
}

.grid-product__title-front {
	font-size: 18px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
}

.grid-product__desc-front {
	flex: 1 1 auto;
	margin-top: 17px;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.4285714286;
	color: rgba(0, 0, 0, 0.5);
}

.grid-product__order-front {
	margin-bottom: 11px;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}

.grid-product__price-front {
	margin-bottom: 22px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
.grid-product__price-front .hl {
	display: inline-block;
	margin-left: 8px;
	font-size: 22px;
	font-weight: bold;
	color: #faae41;
}

/* ----- item-back ----- */
/* +++ ITEM'S BACK STYLES +++ */
.grid-product__item-back {
	padding: 31px 24px 28px 26px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}
.grid-product__item-back .image {
	object-fit: cover;
	object-position: -156px 0px;
}

.grid-product__image-back {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.grid-product__title-back {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
}

.grid-product__desc-back {
	margin-top: 17px;
	flex: 1 1 auto;
	font-size: 14px;
	opacity: 0.9;
	line-height: 1.7142857143;
}

.grid-product__options-list-back {
	margin-bottom: 30px;
	opacity: 0.9;
	font-size: 14px;
	line-height: 1.7142857143;
}

.grid-product__options-item-back {
	position: relative;
	padding-left: 13px;
}
.grid-product__options-item-back::before {
	content: "-";
	position: absolute;
	left: 2px;
}

.grid-product__order-back {
	margin-bottom: 8px;
	opacity: 0.7;
	font-size: 14px;
}

.grid-product__price-back {
	margin-bottom: 23px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}
.grid-product__price-back .hl {
	display: inline-block;
	margin-left: 8px;
	color: white;
	font-size: 22px;
	font-weight: 700;
}

/* ================================= */
/* ====== 4. REQUEST SECTION ======= */
/* ================================= */
.request {
	padding: 57px 0 67px 0;
	background: url(../img/bg_block_form.png) 0 0/cover no-repeat;
}
.request__inner {
	display: flex;
	height: 100%;
}
.request__content {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
}
.request__text {
	flex: 1 1 auto;
}
.request__title {
	font-size: 32px;
	font-weight: 500;
}
.request__desc {
	margin-top: 17px;
	padding-right: 150px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.7142857143;
}
.request__list {
	margin-bottom: -5px;
}
.request__list-item {
	position: relative;
	padding-left: 18px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.8571428571;
}
.request__list-item .hl {
	font-weight: 700;
}
.request__list-item ::before {
	content: "";
	background: url(../icons/check.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
	width: 8px;
	height: 6px;
}
.request__form {
	flex: 0 1 50%;
}

.form-request .form-request__input {
	padding: 0 19px;
	background-color: white;
	border: none;
	border-radius: 2px;
}
.form-request .form-request__input:focus {
	outline: none;
	box-shadow: 0 0 0 2px #fdb44b;
}
.form-request .form-request__input::placeholder {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
.form-request .form-request__pesonal-data {
	padding: 5px 0 0 6px;
	font-size: 11px;
	font-style: italic;
	color: #7f7f7f;
	line-height: 1.3636363636;
}
.form-request .form-request__pesonal-data .hl {
	color: #faae41;
	text-decoration: underline;
	text-underline-offset: 1px;
}

.btn--request {
	width: 276px;
	height: 53px;
}

.grid-request {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(2, 276px);
	grid-template-rows: 49px 49px 53px;
	grid-template-areas: "item-1 item-2" "item-3 item-3" "item-4 item-5";
}

.request__1st {
	grid-area: item-1;
}

.request__2nd {
	grid-area: item-2;
}

.request__3rd {
	grid-area: item-3;
}

.request__4th {
	grid-area: item-4;
}

.request__5th {
	grid-area: item-5;
}

/* ================================= */
/* ===== 5. PORTFOLIO SECTION ====== */
/* ================================= */
.portfolio {
	padding: 57px 0 44px 0;
}
.portfolio__title {
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
}
.portfolio__grid {
	margin-top: 49px;
}

.grid-portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
	grid-auto-rows: 338px;
	justify-content: center;
}

.grid-portfolio__item-front {
	position: relative;
}
.grid-portfolio__item-front .image {
	object-fit: cover;
	object-position: center;
}

.grid-portfolio__image-front {
	height: 100%;
	overflow: hidden;
}
.grid-portfolio__image-front .image {
	width: 101%;
	/* для удаления белых кромок на фото */
	height: 101%;
}

.grid-portfolio__icon-front {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-portfolio__item-back {
	padding: 40px 34px 36px 49px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}
.grid-portfolio__item-back .image {
	object-fit: cover;
}

.grid-portfolio__image-back {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.grid-portfolio__inner-back {
	display: flex;
	height: 100%;
}

.grid-portfolio__content-back {
	flex: 0 1 84%;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.grid-portfolio__icon-back {
	flex: 0 1 16%;
	align-self: flex-end;
}

.grid-portfolio__title-back {
	margin-bottom: 19px;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
}

.grid-portfolio__desc-back {
	flex: 1 1 auto;
	font-size: 14px;
	opacity: 0.9;
	line-height: 1.7142857143;
}

.grid-portfolio__order-back {
	margin-top: 19px;
	opacity: 0.7;
	font-size: 14px;
}

.grid-portfolio__price-back {
	margin-top: 14px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}
.grid-portfolio__price-back .hl {
	display: inline-block;
	margin-left: 12px;
	color: white;
	font-size: 22px;
	font-weight: 700;
}

.btn--portfolio-arrow {
	margin-left: auto;
	width: 35px;
	height: 35px;
	border-radius: 0px;
}

.svg-arrow-right {
	width: 6px;
	height: 10px;
	fill: white;
}

.btn--portfolio-more {
	margin: 39px auto 0 auto;
	padding: 0 0 6px 15px;
	width: 247px;
	height: 53px;
	gap: 6px;
	background-color: #545559;
}
.btn--portfolio-more .btn__title {
	font-size: 18px;
}

.svg-arrow-down {
	width: 8px;
	height: 4px;
	fill: white;
}

/* ================================ */
/* ===== 6. GLASSTYPE SECTION ===== */
/* ================================ */
.glasstype {
	padding: 85px 0 100px 0;
	background: url(../img/bg_block_6.png) 0 0/cover no-repeat;
	/* +++ GLOBAL STYLES - HEADLINE */
}
.glasstype__grid {
	margin-top: 54px;
}

.grid-glasstype {
	display: grid;
	gap: 69px;
	grid-template-columns: repeat(2, minmax(400px, 564px));
	grid-auto-rows: 449px;
	justify-content: center;
}

.grid-glasstype__item {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 2px;
	box-shadow: 2.5px 4.3px 21px rgba(0, 0, 0, 0.1);
}
.grid-glasstype__header {
	position: relative;
	flex: 0 0 209px;
	height: 209px;
}
.grid-glasstype__header .image {
	object-fit: cover;
}
.grid-glasstype__buttons-block {
	position: absolute;
	bottom: 5%;
	right: 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 69px;
}
.grid-glasstype__body {
	padding: 32px 44px 23px 43px;
	display: flex;
}
.grid-glasstype__thumbnail {
	flex: 0 0 23%;
}
.grid-glasstype__thumbnail-inner {
	margin-top: 5px;
	width: 72px;
	height: 164px;
}
.grid-glasstype__content {
	flex: 0 0 77%;
}
.grid-glasstype__title {
	font-size: 22px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.9);
}
.grid-glasstype__desc {
	margin-top: 12px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.8571428571;
}

.btn--glasstype {
	width: 31px;
	height: 31px;
	border-radius: 0px;
}

.svg-arrow-left--glasstype {
	width: 5px;
	height: 8px;
	fill: white;
}

.svg-arrow-right--glasstype {
	width: 5px;
	height: 8px;
	fill: white;
}

/* ============================= */
/* ===== 7. DESIGN SECTION ===== */
/* ============================= */
.design {
	padding: 72px 0 100px;
	/* +++ GLOBAL STYLES - HEADLINE */
}
.design__inner {
	margin-top: 40px;
	height: 520px;
	display: flex;
	gap: 49px;
}

.design__image {
	position: relative;
	flex: 0 0 576px;
}
.design__image-buttons-block {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.design__content {
	padding: 32px 37px 33px 37px;
	flex: 0 0 576px;
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #c5c5c5;
	border-radius: 2px;
}
.design__content-title {
	font-size: 24px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.9);
}
.design__content-desc {
	padding-top: 13px;
	text-align: justify;
	flex: 1 1 auto;
	font-size: 14px;
	letter-spacing: -0.6px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.7142857143;
}
.design__content-glass-list {
	padding-bottom: 47px;
}
.design__content-consultation {
	padding-bottom: 17px;
	font-size: 18px;
	font-weight: 500;
}
.design__content-action-list {
	padding-bottom: 19px;
	display: flex;
	justify-content: space-between;
}
.design__content-action-item {
	padding-left: 23px;
	position: relative;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.8);
}
.design__content-action-item::before {
	content: "";
	background: url(../icons/check.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 3px;
	width: 13px;
	height: 11px;
}
.design__content-button-block {
	display: flex;
	justify-content: space-between;
}

.glass-design {
	display: flex;
	justify-content: space-between;
}
.glass-design__item {
	text-align: center;
}
.glass-design__image {
	width: 79px;
	height: 79px;
}
.glass-design__image .image {
	object-fit: cover;
}
.glass-design__caption-wrapper {
	padding-top: 10px;
	position: relative;
	display: inline-block;
}
.glass-design__caption {
	font-size: 12px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
}

.design__style-checked {
	border: 2px solid #faae41;
}

.design__type-checked {
	padding-left: 8px;
}
.design__type-checked .glass-design__caption::before {
	content: "";
	background: url(../icons/check.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	top: 12px;
	left: -6px;
	width: 9px;
	height: 7px;
}

.btn--design {
	border-radius: 0px;
	width: 36px;
	height: 36px;
}

.svg-arrow-left--design {
	width: 5px;
	height: 8px;
	fill: white;
}

.svg-arrow-right--design {
	width: 5px;
	height: 8px;
	fill: white;
}

.btn--design-content {
	width: 240px;
	height: 56px;
}
.btn--design-content .btn__title {
	font-size: 16px;
}

.btn--design-content-secondary {
	background-color: #545559;
}

/* ================================= */
/* ===== 8. CALCULATOR SECTION ===== */
/* ================================= */
.calculator {
	padding: 76px 0 54px;
	box-shadow: 2.5px 4.3px 21px rgba(0, 0, 0, 0.08);
	background: url(../img/bg_block_8.png) 0 0/cover no-repeat;
}
.calculator__constructor {
	margin-top: 35px;
	padding: 22px 0 31px 19px;
	display: flex;
	background-color: #fff;
}
.calculator__request {
	margin: 50px 43px 0 auto;
	display: flex;
	justify-content: space-between;
	width: 785px;
}
.calculator__personal-data {
	flex: 0 0 245px;
	text-align: center;
	font-size: 11px;
	font-style: italic;
	line-height: 1.3636363636;
}
.calculator__personal-data .hl {
	color: #faae41;
}

.constructor__header {
	margin-bottom: 18px;
}
.constructor__header div[class*=number-before]::before {
	top: -1px;
	left: 1px;
}
.constructor__header-title {
	padding-left: 26px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.7);
}
.constructor__header-icon {
	margin-left: 2px;
	display: inline-block;
}

.constructor__type {
	flex: 0 0 209px;
}
.constructor__type-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 403px;
}
.constructor__type-item {
	display: flex;
	align-items: center;
	height: 70px;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
}
.constructor__type-checked {
	border: 1px solid #fdb44b;
}
.constructor__type-image {
	flex: 0 0 73px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.constructor__type-image-size--1 {
	width: 38px;
	height: 29px;
}
.constructor__type-image-size--2 {
	width: 44px;
	height: 29px;
}
.constructor__type-image-size--3 {
	width: 43px;
	height: 37px;
}
.constructor__type-image-size--4 {
	width: 41px;
	height: 36px;
}
.constructor__type-image-size--5 {
	width: 50px;
	height: 19px;
}
.constructor__type-caption {
	font-family: "Open Sans";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1.2857142857;
}

.constructor__view {
	flex: 0 0 499px;
	margin-left: 29px;
	margin-right: 24px;
}
.constructor__view-body {
	display: flex;
	flex-direction: column;
	height: 403px;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}
.constructor__view-image {
	padding-top: 20px;
	/* по макету (можно убрать) */
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.constructor__view-image-size {
	width: 337px;
	height: 227px;
}
.constructor__view-caption {
	padding: 0 0 21px 43px;
	font-size: 16px;
	font-weight: 500;
	color: #2c2c2c;
}
.constructor__view-caption .hl {
	color: #faae41;
}

.constructor__options {
	flex: 0 0 390px;
}
.constructor__options-form {
	padding: 25px 0 21px 29px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
}

.grid-calculator {
	display: grid;
	row-gap: 20px;
	column-gap: 25px;
	grid-template-columns: repeat(2, 150px);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: "item-1 item-2 " "item-3 item-3" "item-4 item-4" "item-5 item-6" "item-7 item-7";
}

.grid-calculator__1st {
	grid-area: item-1;
}

.grid-calculator__2nd {
	grid-area: item-2;
}

.grid-calculator__3rd {
	grid-area: item-3;
}

.grid-calculator__4th {
	grid-area: item-4;
}

.grid-calculator__5th {
	grid-area: item-5;
}

.grid-calculator__6th {
	grid-area: item-6;
}

.grid-calculator__7th {
	grid-area: item-7;
}

.calculator__label {
	display: block;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1.3333333333;
}

.calculator__input {
	padding-left: 19px;
	width: 100%;
	height: 46px;
	border: 1px solid #d9d9d9;
	border-radius: 1px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.calculator__input::placeholder {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
.calculator__input:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 0 2px #fdb44b;
}
.calculator__input--square {
	padding: 0;
	text-align: center;
	width: 36px;
	height: 31px;
}
.calculator__input.input-number {
	-moz-appearance: textfield;
	/* appearance: textfield; */
}
.calculator__input.input-number::-webkit-inner-spin-button, .calculator__input.input-number::-webkit-outer-spin-button {
	-webkit-appearance: none;
	border: none;
}

.calculator__select-wrapper {
	margin-top: 6px;
}
.calculator__select-wrapper::after {
	right: 19px;
}

.calculator__select-dropdown {
	padding: 0px 31px 0 17px;
	width: 327px;
	height: 46px;
	border: 1px solid #d9d9d9;
	border-radius: 1px;
	background-color: white;
	font-size: 14px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.5);
}
.calculator__select-dropdown:focus {
	outline: none;
	box-shadow: 0 0 0 2px #fdb44b;
}

.calculator__price {
	text-align: right;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
.calculator__price .hl {
	display: inline-block;
	margin-left: 10px;
	font-size: 26px;
	font-weight: 700;
	color: #faae41;
}

.grid-calculator__1st .calculator__input {
	margin-top: 5px;
}

.grid-calculator__2nd .calculator__input {
	margin-top: 5px;
}

.grid-calculator__5th {
	padding-top: 6px;
	display: flex;
}
.grid-calculator__5th .calculator__input--square {
	flex: 0 0 31px;
	width: 31px;
	height: 31px;
}
.grid-calculator__5th .calculator__label {
	margin-left: 11px;
}

.grid-calculator__6th {
	padding-top: 6px;
	display: flex;
}
.grid-calculator__6th .calculator__input--square {
	margin: 0;
	margin-left: -12px;
	flex: 0 0 31px;
	width: 31px;
	height: 31px;
	appearance: none;
}
.grid-calculator__6th .calculator__input--square::-ms-expand {
	display: none;
}
.grid-calculator__6th .calculator__input--square:checked {
	background: url(../icons/check.png) 50% 50%/13px 11px no-repeat;
}
.grid-calculator__6th .calculator__label {
	margin-left: 11px;
}

.grid-calculator__7th {
	margin-top: 5px;
}

.svg-check--orange {
	width: 10px;
	height: 8px;
	fill: #faae41;
}

.svg-check--grey {
	width: 10px;
	height: 8px;
	fill: #545559;
}

.btn--calculator {
	flex: 0 1 458px;
	width: 458px;
	height: 52px;
}
.btn--calculator .btn__title {
	font-size: 18px;
}

/* ============================= */
/* ===== 9. CHARGE SECTION ===== */
/* ============================= */
.charge {
	padding: 71px 0 68px;
	background: url(../img/bg_block_9.png) 0 0/cover no-repeat;
}
.charge .charge__headline {
	margin-bottom: 31px;
}
.charge .charge__headline .headline__title {
	color: white;
}
.charge .charge__headline .headline__consultation {
	color: rgba(255, 255, 255, 0.8);
	text-decoration-color: rgba(255, 255, 255, 0.3);
}

.charge__item {
	margin-bottom: 19px;
	display: flex;
	min-height: 133px;
	background-color: white;
}
.charge__item-icon {
	flex: 0 0 131px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.charge__item-content {
	padding: 29px 21px 29px 0;
}
.charge__item-title {
	font-size: 18px;
	font-weight: 500;
	color: #faae41;
}
.charge__item-desc {
	padding-top: 7px;
	font-family: "Open Sans";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.7142857143;
}
.charge__item-price {
	flex: 0 0 217px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.5);
	border-left: 1px solid #d9d9d9;
}
.charge__item-price .hl {
	font-size: 32px;
	font-weight: 700;
	color: #faae41;
	line-height: 1.7;
}

.svg-charge--1,
.svg-charge--2,
.svg-charge--3 {
	fill: #faae41;
}

.svg-charge--1 {
	width: 63px;
	height: 63px;
}

.svg-charge--2 {
	width: 52px;
	height: 52px;
}

.svg-charge--3 {
	width: 55px;
	height: 55px;
}

.charge__item--first .charge__item-desc {
	letter-spacing: 0.21px;
}
.charge__item--first .charge__item-price {
	border: none;
	background-color: #faae41;
	color: white;
}
.charge__item--first .charge__item-price .hl {
	color: white;
}

.charge__item--second .charge__item-desc {
	letter-spacing: 0.64px;
}

.charge__item--third {
	margin-bottom: 0;
}
.charge__item--third .charge__item-price .hl {
	font-size: 28px;
}
.charge__item--third .charge__item-price .underlined {
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
	text-underline-offset: 2px;
}

/* ================================= */
/* ===== 10. PRICELIST SECTION ===== */
/* ================================= */
.pricelist {
	padding: 52px 0 83px;
}
.pricelist__title {
	margin-bottom: 33px;
	font-size: 22px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
}
.pricelist__tab-list {
	display: flex;
	margin-bottom: 39px;
}
.pricelist__tab-list-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	height: 38px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	color: white;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.3);
}
.pricelist__tab-list-item:not(:last-child) {
	margin-right: 11px;
}
.pricelist__tab-list-item--active {
	border: none;
	background-color: #faae41;
	color: white;
}
.table-pricelist {
	width: 100%;
	border-collapse: collapse;
}

.table-pricelist__head,
.table-pricelist__header,
.table-pricelist__body,
.table-pricelist__data {
	display: block;
}

.table-pricelist__row {
	display: flex;
}
.table-pricelist__row:nth-child(even) {
	background-color: #f3f3f3;
}

.table-pricelist__header,
.table-pricelist__data {
	display: flex;
	align-items: center;
	font-size: 14px;
}
.table-pricelist__header:nth-child(1),
.table-pricelist__data:nth-child(1) {
	flex: 1 1 auto;
	padding: 7px 16px 7px 16px;
	border-right: 1px solid #e5e5e5;
}
.table-pricelist__header:nth-child(2),
.table-pricelist__data:nth-child(2) {
	flex: 0 0 280px;
	padding: 7px 0 7px 75px;
}

.table-pricelist__header {
	text-align: left;
	background-color: #faae41;
}

.table-pricelist__data:nth-child(2) {
	letter-spacing: -0.45px;
	/* по макету */
}

.pricelist__consultation {
	margin-top: 71px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #dadada;
	border-radius: 1px;
}
.pricelist__consultation-title {
	font-size: 18px;
	font-weight: 500;
}
.pricelist__consultation-action-list {
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
}
.pricelist__consultation-action-item {
	padding-left: 23px;
	position: relative;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.8);
}
.pricelist__consultation-action-item::before {
	content: "";
	background: url(../icons/check.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 3px;
	width: 13px;
	height: 11px;
}
.pricelist__consultation-action-item:not(:last-child) {
	margin-right: 21px;
}
.pricelist__consultation-buttons-block {
	flex: 0 0 500px;
	display: flex;
	justify-content: space-between;
}

.btn--pricelist {
	width: 247px;
	height: 56px;
}
.btn--pricelist .btn__title {
	font-size: 16px;
}

.btn--pricelist-secondary {
	width: 234px;
	background-color: #545559;
}

/* ============================= */
/* ===== 11. STEPS SECTION ===== */
/* ============================= */
.steps {
	padding: 54px 0 68px;
	background-color: #faae41;
}
.steps__title {
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
}
.steps__grid {
	margin-top: 49px;
}

.grid-steps {
	display: grid;
	row-gap: 36px;
	column-gap: 63px;
	grid-template-columns: repeat(auto-fit, 358px);
	grid-auto-rows: 358px;
	justify-content: center;
}

.grid-steps__item {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fff;
	border-radius: 2px;
}
.grid-steps__content {
	padding: 35px 30px 20px 37px;
	flex: 1 1 auto;
}
.grid-steps__content div[class*=number-before]::before {
	top: -1px;
	left: 0;
	width: 20px;
	height: 20px;
}
.grid-steps__title {
	padding-left: 32px;
	font-size: 16px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.9);
}
.grid-steps__desc {
	margin-top: 10px;
	font-family: "Open Sans";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.7857142857;
}
.grid-steps__benefits {
	padding: 22px 20px 20px 20px;
	flex: 0 0 119px;
	display: flex;
	height: 119px;
	border-top: 1px solid #d9d9d9;
}
.grid-steps__benefits-icon {
	flex: 0 1 92px;
}
.grid-steps__benefits-icon svg[class*=svg-steps] {
	display: block;
	margin: 3px auto 0 auto;
}
.grid-steps__benefits-list-item {
	padding-left: 30px;
	position: relative;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1.3333333333;
}
.grid-steps__benefits-list-item:not(:last-child) {
	margin-bottom: 8px;
}
.grid-steps__benefits-list-item.check-before::before {
	top: 3px;
	left: 9px;
}
.grid-steps .svg-steps--1,
.grid-steps .svg-steps--2,
.grid-steps .svg-steps--3,
.grid-steps .svg-steps--4,
.grid-steps .svg-steps--5,
.grid-steps .svg-steps--6 {
	fill: #faae41;
}
.grid-steps .svg-steps--1 {
	width: 58px;
	height: 58px;
}
.grid-steps .svg-steps--2 {
	transform: scaleX(-1);
	width: 59px;
	height: 59px;
}
.grid-steps .svg-steps--3 {
	width: 56px;
	height: 56px;
}
.grid-steps .svg-steps--4 {
	width: 58px;
	height: 58px;
}
.grid-steps .svg-steps--5 {
	width: 60px;
	height: 60px;
}
.grid-steps .svg-steps--6 {
	width: 61px;
	height: 61px;
}

/* ================================ */
/* ===== 12. BENEFITS SECTION ===== */
/* ================================ */
.benefits {
	padding: 69px 0 114px;
}
.benefits__title {
	font-size: 32px;
	font-weight: 500;
}
.benefits__desc {
	margin-top: 14px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
.benefits__grid {
	margin-top: 55px;
	width: 100%;
}

.grid-benefits {
	display: grid;
	grid-template-columns: 496px 64px 305px 27px 305px;
	grid-template-rows: 152px 179px 179px 179px 145px;
	grid-template-areas: "item-11 . item-1 . item-2" "item-11 . item-3 . item-4" "item-11 . item-5 . item-6" "item-11 . item-7 . item-8" "item-11 . item-9 . item-10";
}

.grid-benefits__1st {
	grid-area: item-1;
}

.grid-benefits__2nd {
	grid-area: item-2;
}

.grid-benefits__3rd {
	grid-area: item-3;
}

.grid-benefits__4th {
	grid-area: item-4;
}

.grid-benefits__5th {
	grid-area: item-5;
}

.grid-benefits__6th {
	grid-area: item-6;
}

.grid-benefits__7th {
	grid-area: item-7;
}

.grid-benefits__8th {
	grid-area: item-8;
}

.grid-benefits__9th {
	grid-area: item-9;
}

.grid-benefits__10th {
	grid-area: item-10;
}

.grid-benefits__11th {
	grid-area: item-11;
}

.grid-benefits__item {
	height: 100%;
}
.grid-benefits__checked {
	border: 1px solid rgba(221, 221, 221, 0.4);
	border-radius: 3px;
}
.grid-benefits__number {
	font-size: 42px;
	font-weight: 300;
	line-height: 30px;
	color: #faae41;
}
.grid-benefits__caption {
	margin-top: 18px;
	font-size: 14px;
	line-height: 1.5714285714;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.9);
}

.grid-benefits__1st .grid-benefits__item {
	padding: 0 80px 20px 40px;
}

.grid-benefits__2nd .grid-benefits__item {
	padding: 0 60px 20px 40px;
}

.grid-benefits__3rd .grid-benefits__item {
	padding: 34px 20px 0px 40px;
}

.grid-benefits__4th .grid-benefits__item {
	padding: 34px 50px 0px 40px;
}

.grid-benefits__5th .grid-benefits__item {
	padding: 34px 20px 0px 40px;
}

.grid-benefits__6th .grid-benefits__item {
	padding: 34px 80px 0px 40px;
}

.grid-benefits__7th .grid-benefits__item {
	padding: 34px 10px 0px 40px;
}

.grid-benefits__8th .grid-benefits__item {
	padding: 34px 20px 0px 40px;
}

.grid-benefits__9th .grid-benefits__item {
	padding: 34px 20px 0px 40px;
}

.grid-benefits__10th .grid-benefits__item {
	padding: 34px 50px 0px 40px;
}

.grid-benefits__11th .grid-benefits__item {
	padding: 0;
	border: none;
	border-radius: 0;
}
.grid-benefits__11th .image {
	object-fit: cover;
}

/* ================================= */
/* ===== 13. FUTNITURE SECTION ===== */
/* ================================= */
.furnirute {
	padding: 81px 0 88px;
	background: url(../img/bg_block_14.png) 0 0/cover no-repeat;
}

.furniture__brands {
	margin-top: 38px;
	padding: 29px 30px 20px 49px;
	display: flex;
	width: 100%;
	height: 404px;
	background-color: #fff;
}
.furniture__brands-content {
	padding-right: 68px;
	display: flex;
	flex-direction: column;
}
.furniture__brands-logo-list {
	padding: 0px 0 37px 0;
	flex: 0 0 130px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e5e5e5;
}
.furniture__brands-logo-item {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.furniture__brands-logo-icon--1 {
	margin-top: 11px;
	flex: 1 0 auto;
	width: 42px;
	height: 55px;
}
.furniture__brands-logo-icon--2 {
	margin-top: 16px;
	flex: 1 0 auto;
	width: 86px;
	height: 45px;
}
.furniture__brands-logo-icon--3 {
	margin-top: 22px;
	flex: 1 0 auto;
	width: 67px;
	height: 34px;
}
.furniture__brands-logo-icon--4 {
	margin-top: 26px;
	flex: 1 0 auto;
	width: 81px;
	height: 29px;
}
.furniture__brands-logo-icon--5 {
	margin-top: 9px;
	flex: 1 0 auto;
	width: 67px;
	height: 60px;
}
.furniture__brands-logo-icon--6 {
	margin-top: 23px;
	flex: 1 0 auto;
	width: 71px;
	height: 39px;
}
.furniture__brands-logo-caption {
	text-align: center;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0.2);
	text-underline-offset: 2px;
}
.furniture__brands-info {
	padding-top: 36px;
}
.furniture__brands-title {
	font-size: 24px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.9);
}
.furniture__brands-desc {
	text-align: justify;
	margin-top: 13px;
	font-family: "Open Sans";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.8571428571;
}
.furniture__brands-image {
	flex: 0 0 412px;
}
.furniture__brands-image-inner {
	position: relative;
}
.furniture__brands-image-buttons-block {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
.furniture__brands--checked {
	color: #faae41;
	text-decoration-color: #faae41;
}

.btn--furniture {
	border-radius: 0px;
	width: 31px;
	height: 31px;
}

.svg-arrow-left--furniture,
.svg-arrow-right--furniture {
	fill: white;
	width: 5px;
	height: 9px;
}

/* ============================ */
/* ===== 14. NEWS SECTION ===== */
/* ============================ */
.news {
	padding: 63px 0 94px;
}
.news__list {
	margin-top: 41px;
	display: flex;
	gap: 6%;
	width: 100%;
}
.news__item {
	flex: 0 1 50%;
	padding-bottom: 27px;
	min-height: 520px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 2.5px 4.3px 21px rgba(0, 0, 0, 0.1);
}
.news__image {
	height: 260px;
}
.news__image .image {
	object-fit: cover;
}
.news__body {
	display: flex;
}
.news__content {
	padding: 27px 0 0 36px;
}
.news__title {
	font-size: 22px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.9);
}
.news__date {
	margin-top: 16px;
	font-family: "Open Sans";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.3);
}
.news__text {
	margin-top: 13px;
	font-family: "Open Sans";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.8571428571;
}
.news__button {
	flex: 0 0 81px;
	align-self: flex-end;
}

.btn--news-secondary, .btn--news {
	margin: 0 auto;
	border-radius: 0px;
	width: 31px;
	height: 31px;
	fill: white;
}

.btn--news-secondary {
	background-color: #545559;
}

.svg-arrow-right--news {
	width: 5px;
	height: 8px;
}

/* =========================== */
/* ===== 15. FAQ SECTION ===== */
/* =========================== */
.faq {
	padding: 67px 0 87px;
	background-color: #ededee;
}
.faq__headline .headline__consultation {
	margin-right: 48px;
}
.faq__questions-list {
	margin-top: 37px;
}

.question-faq__item {
	max-width: 1157px;
}
.question-faq__item:not(:last-child) {
	margin-bottom: 19px;
}
.question-faq__item:first-child {
	margin-bottom: 28px;
}
.question-faq__header {
	position: relative;
	z-index: 2;
	margin-bottom: -3px;
	/* чтобы убрать промежуток между скругленным header и body */
	padding-left: 21px;
	display: flex;
	align-items: center;
	height: 58px;
	background-color: #faae41;
	border-radius: 3px;
}
.question-faq__body {
	padding-left: 21px;
	display: flex;
	min-height: 101px;
	background-color: white;
}
.question-faq__title {
	padding-left: 21px;
	color: white;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
}
.question-faq__answer {
	padding: 21px 20px 20px 22px;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 1.8666666667;
}
.question-faq__icon-question {
	width: 24px;
	height: 24px;
}
.question-faq__icon-toggle {
	position: absolute;
	top: 51%;
	right: 0;
	transform: translate(50%, -50%);
	cursor: pointer;
}
.question-faq__icon-quotes {
	padding: 28px 0 0 0;
}

.svg-question {
	width: 24px;
	height: 24px;
}

.svg-quotes {
	fill: #e5e5e5;
	width: 22px;
	height: 18px;
}

.svg-faq--plus {
	width: 58px;
	height: 58px;
}

.svg-faq--minus {
	width: 75px;
	height: 75px;
}

/* ============================ */
/* ===== 16. ORDER SECTION ===== */
/* ============================ */
.order {
	padding: 71px 0 101px;
}
.order__title {
	font-size: 28px;
	font-weight: 500;
}
.order__grid {
	margin-top: 42px;
}

.grid-order {
	display: grid;
	grid-template-columns: 268px 332px 316px 284px;
	grid-auto-rows: 106px;
	grid-template-areas: "item-1 item-2 item-3 item-4" "item-5 item-6 item-7 item-8";
}

.grid-order__1st {
	grid-area: item-1;
}

.grid-order__2nd {
	grid-area: item-2;
}

.grid-order__3rd {
	grid-area: item-3;
}

.grid-order__4th {
	grid-area: item-4;
}

.grid-order__5th {
	grid-area: item-5;
}

.grid-order__6th {
	grid-area: item-6;
}

.grid-order__7th {
	grid-area: item-7;
}

.grid-order__8th {
	grid-area: item-8;
}

.grid-order__item {
	display: flex;
	align-items: center;
}
.grid-order__item div[class*=number-before]::before {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 21px;
	height: 21px;
	color: white;
	font-size: 12px;
}
.grid-order__desc {
	margin-left: 20px;
	font-family: "Open Sans";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.3571428571;
}

.svg-order--1,
.svg-order--2,
.svg-order--3,
.svg-order--4,
.svg-order--5,
.svg-order--6,
.svg-order--7,
.svg-order--8 {
	fill: #898989;
}

.svg-order--1 {
	width: 49px;
	height: 49px;
}

.svg-order--2 {
	width: 52px;
	height: 52px;
}

.svg-order--3 {
	width: 45px;
	height: 45px;
}

.svg-order--4 {
	width: 40px;
	height: 50px;
}

.svg-order--5 {
	width: 50px;
	height: 50px;
}

.svg-order--6 {
	width: 53px;
	height: 52px;
	transform: scaleX(-1);
}

.svg-order--7 {
	width: 48px;
	height: 48px;
}

.svg-order--8 {
	width: 49px;
	height: 50px;
}

.grid-order__1st {
	border-bottom: 1px solid #e0e0e0;
}
.grid-order__1st .grid-order__item {
	padding: 15px 35px 0 0;
}

.grid-order__2nd {
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.grid-order__2nd .grid-order__item {
	padding: 15px 30px 0px 50px;
}

.grid-order__3rd {
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}
.grid-order__3rd .grid-order__item {
	padding: 15px 30px 0px 60px;
}

.grid-order__4th {
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}
.grid-order__4th .grid-order__item {
	padding: 15px 30px 0px 50px;
}

.grid-order__5th .grid-order__item {
	padding: 31px 30px 0 0;
}

.grid-order__6th {
	border-left: 1px solid #e0e0e0;
}
.grid-order__6th .grid-order__item {
	padding: 31px 30px 0 50px;
}
.grid-order__6th .number-before--6::before {
	z-index: 1;
}

.grid-order__7th {
	border-left: 1px solid #e0e0e0;
}
.grid-order__7th .grid-order__item {
	padding: 30px 30px 0 57px;
}

.grid-order__8th {
	border-left: 1px solid #e0e0e0;
}
.grid-order__8th .grid-order__item {
	padding: 31px 0 0 39px;
}
.grid-order__8th .grid-order__desc {
	letter-spacing: -0.2px;
}

.grid-order__2nd, .grid-order__3rd, .grid-order__4th, .grid-order__6th, .grid-order__7th, .grid-order__8th {
	position: relative;
}
.grid-order__2nd::before, .grid-order__3rd::before, .grid-order__4th::before, .grid-order__6th::before, .grid-order__7th::before, .grid-order__8th::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 7px;
	border-color: transparent transparent transparent #fdb34b;
}

/* ============================================================= */
/* ===== 17. REQUEST SECTION 2  (FULL COPY OF 4TH SECTION) ===== */
/* ============================================================= */
/* ================================= */
/* ========== 18. FOOTER =========== */
/* ================================= */
.footer {
	padding: 80px 0 29px;
	position: relative;
	color: white;
	background-color: #4f4949;
}
.footer__content {
	display: flex;
}
.footer__devider {
	margin-top: 74px;
	border: none;
	border-top: 1px solid rgba(221, 221, 221, 0.15);
}

.footer__info {
	margin-right: 137px;
	text-align: center;
}
.footer__info-logo {
	margin-top: -10px;
}
.footer__info-working-hours {
	margin-top: 32px;
	padding-left: 13px;
	font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.4545454545;
}
.footer__info-feedback {
	margin-top: 13px;
	padding-left: 13px;
}
.footer__info-link {
	font-size: 14px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.9);
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
	text-underline-offset: 1px;
}

.svg-footer--logo {
	width: 147px;
	height: 49px;
	fill: #fefefe;
}

.footer__about-us {
	margin-right: 84px;
}
.footer__about-us-title {
	font-size: 14px;
	font-weight: 500;
}
.footer__about-us-list {
	margin-top: 14px;
}
.footer__about-us-item {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.7);
	line-height: 2;
}

.footer__partitions {
	margin-right: 107px;
}
.footer__partitions-title {
	font-size: 14px;
	font-weight: 500;
}
.footer__partitions-list {
	margin-top: 14px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	width: 345px;
	height: 132px;
}
.footer__partitions-item {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.7);
	line-height: 2;
}

.footer__contacts-title {
	font-size: 14px;
	font-weight: 500;
}
.footer__contacts-phone {
	margin-top: 19px;
}
.footer__contacts-phone-icon {
	display: inline-block;
}
.footer__contacts-phone-number {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
}
.footer__contacts-email {
	margin-top: 8px;
	font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.3);
	text-underline-offset: 2px;
}
.footer__contacts-address {
	margin-top: 18px;
	font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.4545454545;
}

.svg-footer--call {
	display: inline-block;
	width: 12px;
	height: 11px;
	fill: #fefefe;
}

.footer__copyright {
	padding-top: 23px;
}
.footer__copyright-subject {
	font-size: 11px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.5);
}

.footer__button {
	position: absolute;
	top: 22.7%;
	right: 3.2%;
}

.btn--footer {
	position: relative;
	width: 54px;
	height: 48px;
}

button[class*=hint][class*=btn--footer]::after {
	display: none;
}

button[class*=hint][class*=btn--footer]:hover::after {
	content: "Наверх";
	display: flex;
	width: 89px;
	right: 108%;
	color: rgba(0, 0, 0, 0.6);
	background-color: #fcfbfc;
}

.svg-arrow-up {
	width: 14px;
	height: 8px;
	fill: white;
}